
/*********************************************************SECCIÓN CONOCENOS PRINCIPAL***********************************************************************/

.partido-li{
	width: 100%;
	display: flex;
}

.seccion1-li{
	width: 60%;
	padding: 10px;
}

.seccion2-li{
	width: 40%;
	padding: 10px;
}

/*********************************************************FIN SECCIÓN CONOCENOS PRINCIPAL***********************************************************************/

.contenedor-mvo-subapartado-con{
	width: 50%;
	padding: 10px;
}

.contenedor-titulo-mvo-con{
	background-color: #81ca97;
	border-radius: 5px 5px 0px 0px;
	-moz-border-radius: 5px 5px 0px 0px;
	-webkit-border-radius: 5px 5px 0px 0px;
}

.contenedor-titulo-mvo-con h3{
	font-size: 28px;
	font-weight: 400;
    color: var(--blanco);
	text-align: center;
}

.contenedor-titulo-mvo-con:hover{
	background-color: #619c72;
	transition: .7s;
}

.info-mvo-con{
	height: 375px;
	padding: 10px;
	border: 1px solid var(--gris-tipo1);
	overflow: hidden;
}

.info-mvo-con p{
	text-align: justify;
	font-size: 18px;
}

.contenedor-seccion-mov-cuerpo-dividido{
	width: 100%;
	display: flex;
	margin: 10px auto;
	padding: 5px;
	line-height: 2;
}

.separador{
	margin-top: 10px;
	border-width: 0 0 10vh 100vw;
	border-style: solid;
	border-color: transparent transparent #f4f4f4  transparent;
}

.separador-abajo{
	margin-top: 10px;
    bottom: 0;
    left: 0;
    border-width: 0 0 10vh 100vw;
    border-style: solid;
    border-color: transparent transparent #fff transparent;
}

.viñeta{
	display: inline-block;
	vertical-align: center;
	font-weight: bold;
}

ol.round{
	list-style-type: none;
    padding-left: 0px;

}

ol.round li{
	margin: 10px 0;
    font-size: 18px;
    font-weight: lighter;
    display: flex;
}

ol.round p{
	padding-left: 10px;
	text-align: justify;
}

.contenedor-secciones-mov{
	width: 100%;
	background: #f4f4f4;
	padding-top: 25px;
	padding-bottom: 0px;

}

.contenedor-lineas-cuerpos-ind{
	margin-bottom: 25px;
	border: 1px solid #f4f4f4;
	border-radius: 5px;
}

/***********************************TABLAS*****************************************/

.tabla-informacion-escolar{
	width: 100%;
	overflow-x: auto;
}

.tabla-informacion-escolar table{
	background: var(--blanco);
	border-collapse: collapse;
	width: 100%; 
}

.tabla-informacion-escolar thead{
	font-size: 22px;
	text-align: center;
	background: #9abccce0;
	color: var(--blanco);
}

.tabla-informacion-escolar th, td{
	padding: 20px;
	max-width: 700px; /***TAMAÑO MÁXIMO DE LAS CELDAS***/
	font-weight: 200;
	line-height: 1.5;
}

.tabla-informacion-escolar td{
	text-align: justify;
}

.tabla-informacion-escolar tr:nth-child(even){
	background-color: var(--gris); 
}

/*.tabla-informacion-escolar p{
	text-align: center;
}*/

.t-con  thead{
	padding: 5px;
    font-size: 18px;
    background-color: #69c6859e;
    color: #FFF;
}

.ti-padding{
	padding: 10px;
}


/*******************************************************RETICULA******************************************/

.contenedor-acordeon-con{
	width: 100%;
    text-align: center;
    line-height: 2;
}
.contenedor-acordeon-subapartado-con{
	border-radius: 5px;
	margin-bottom: 25px;
}

.info-acordeon-con{
	width:100%;
	height:auto;
	background-color: #f5f5f5;
	padding: 10px;
	display: inline-grid
}

.info-acordeon-con p{
	line-height: 2;
	margin: 10px auto;
}

/*******************************************************ORGANIGRAMA******************************************/
.contenedor-texto-completo-org-con{
	width: 100%;
}

.contenedor-org-con{
	width: 100%;
	height: 300px;
	display: block;
    margin: auto;
    text-align: -webkit-center;
    /*text-align: center;*/
}
.contenedor-org-subapartado-con{
	border-radius: 5px;
	margin-bottom: 25px;
}

.info-org-con{
	width:100%;
	height:auto;
	padding-top: 10px;
	background-color: #f5f5f5;
	overflow: hidden;
}

.imagen-ingre-egre{
	width: 300px;
}

/*********************************************************FIN SECCIÓN CONOCENOS PRINCIPAL***********************************************************************/

/*********************************************************SECCIÓN INFORMACION DE LA CARRERA***********************************************************************/

.fondo-mvo{
	background:url(../img/t1.jpg);
    background-attachment: fixed;
    background-position: center;
    /*background-size: cover;*/
}

.contenedor-mvo{
	width: 100%;
    background: var(--fondo-color-mvo);
    padding-top: 50px;
    padding-bottom: 50px;
}

.contenedor-mvo:nth-child(odd){
	background-color: var(--blanco);
}

.contenedor-mvo-subapartado{
	display: flex;
	align-items: center;
}

.mov-reversa{
	flex-direction: row-reverse;
}

.contenedor-mov-contenido{
	/*width: calc(100% - 250px);*/
	width: 50%;
}

.contenedor-img-mvo{
	width: 50%;
	/*width: 250px;*/
	height: 300px;
	overflow: hidden;
	display: flex;
	align-items: center;
	justify-content: center;
}

.contenedor-img-mvo img{
	/*width: 100%;*/
	height: 100%;/***Hacer Responsivo***/
	object-fit: cover;
	object-position: center;
}

.contenedor-titulo-mvo{
	padding: 10px;
}


.contenedor-titulo-mvo h3{
	color: var(--naranja);
	font-size: 36px;
	font-weight: 300;
}

.info-mvo{
	width:100%;
	line-height: 2;
	padding: 10px;
}

.info-mvo p{
	text-align: justify;
	font-size: 24px;
}

/************************************************************************************************SECCIÓN CONOCENOS PERFIL-CAMPO***********************************************************************/


.contenedor-componentes-info-perfiles{
	width: 100%;
	margin: auto;
	display: flex;
	margin-bottom: 25px;

}

.contenedor-componentes-info-perfiles:nth-child(even){
background: url(../img/t1.jpg);
    background-attachment: fixed;
    background-position: center;
    /*background-size: cover;*/
}	

.contenedor-titulo-perfil{
	background-color: var(--titulos-perfiles);
	padding: 10px;
    border-radius: 5px;
}


.contenedor-titulo-perfil{
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;

	border-radius: 5px 0px 0px 5px;
	-moz-border-radius: 5px 0px 0px 5px;
	-webkit-border-radius: 5px 0px 0px 5px;
}

.contenedor-titulo-perfil h3{
	color: var(--blanco);
    font-weight: 400;
    font-size: 36px;
    text-align: center;
    line-height: 1.5;
}

.imagen-perfil-campo{
	width: 250px;
	padding: 10px;
}

.imagen-perfil-campo img{
	width: 100%;
	height: 100%;
}

.contenedor-txt-perfil{
	width: 100%;
	min-height: 250px;
	padding: 10px;
	border: 1px solid var(--gris-tipo1);
	background: var(--fondo-txt-perfiles);
	line-height: 2;	
}

/*******************************************************SECCIONES ACORDEON******************************************/
.contenedor-completo-acordeon{
	width: 100%;
	min-height: 500px; 
    padding: 10px;
}

.contenedor-acordeon-subapartado{
	min-height:50px;
	-webkit-transiton: height 0.5s;
	padding: 5px;
	background: var(--gris-tipo1);
	border-radius: 5px;
	margin-bottom: 25px;
	
}

.contenedor-titulo-acordeon{
	border-radius: 5px 5px 0px 0px;
	-moz-border-radius: 5px 5px 0px 0px;
	-webkit-border-radius: 5px 5px 0px 0px;
	cursor: pointer;
	background-color: var(--verde-con);
	padding: 10px;
	overflow: hidden;

}

.contenedor-titulo-acordeon h3{
    color: var(--blanco);
    font-size: 28px;
    line-height: 1.5;
    text-align: center;
    font-weight: 300;
    text-transform: capitalize;
}

.contenedor-titulo-acordeon:hover{
	transition: .9s;
	background-color: var(--hover-verde-con);
}


.info-acordeon-centrado{
	width:100%;
	display: block;
	background-color: var(--gris-tipo1);
	overflow: hidden;
}

.info-acordeon-centrado p{
	margin:20px auto;
	text-align: center;
	font-size: 18px;
	line-height: 2;
}

.icono-aco-derecha {
	float: right;
	font-size: xx-large;
}

.border-abajo{
	border-bottom: 2px solid var(--naranja);
}

/*******************************************************SECCIÓN ORGANIGRAMA******************************************/
.skew-abajo-org{
	
    position: absolute;
    bottom: 0;
    left: 0;
    border-width: 0 0 10vh 100vw;
    border-style: solid;
    border-color: transparent transparent #e8f0f5 transparent
}

.contenedor-organigrama{
	display: flex;
	align-items: center;
	justify-content: center;
	contain: content;
	background: rgba(223,234,241,0.7);
	background: -moz-linear-gradient(top, rgba(223,234,241,0.7) 0%, rgba(15,99,144,1) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(223,234,241,0.7)), color-stop(100%, rgba(15,99,144,1)));
	background: -webkit-linear-gradient(top, rgba(223,234,241,0.7) 0%, rgba(15,99,144,1) 100%);
	background: -o-linear-gradient(top, rgba(223,234,241,0.7) 0%, rgba(15,99,144,1) 100%);
	background: -ms-linear-gradient(top, rgba(223,234,241,0.7) 0%, rgba(15,99,144,1) 100%);
	background: linear-gradient(to bottom, rgba(223,234,241,0.7) 0%, rgba(15,99,144,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#dfeaf1', endColorstr='#0f6390', GradientType=0 );
}

#titulo-organigrama1{
	width: 100%;
	color: #f1592a;
	font-size: 28pt;
    font-family: 'Roboto', sans-serif;
}

.titulo-org1-dir1 hr{
	height: 2px;
	background: #f1592a;
	border: none;
	margin: 0 260px;
	margin-bottom: 20px;
	opacity: .5;
}

#titulo-organigrama{
	width: 100%;
	color: #fff;
	font-size: 28pt;
    font-family: 'Roboto', sans-serif;
}

.organigrama p{
	 font-family: 'Roboto', sans-serif;
	 line-height: 20px;
	 text-align: center;
	 margin-top: 20px;

}


.contenedor-dir{
	border-radius: 5px;
	display: inline-block;
	text-align: -webkit-center;
	text-align: -moz-center;
}

.contenedor-lab-doc{
	border-radius: 25px;
	width: 100%;
	height: 100%
}

.titulo-org1-dir{
	width: 100%;
    display: inline-block;
    align-items: center;
}

.titulo-org1-dir hr{
	height: 2px;
	background: #fff;
	border: none;
	margin: 0 240px;
	margin-bottom: 20px;
	opacity: .5;
}

.titulo-org1{
	width: 50%;
    display: inline-block;
    float: left;
}

.titulo-org2{
	width: 50%;
    display: inline-block;
    float: right;
}

.titulo-org3{
	width: 50%;
    display: none;
    float: right;
}

.titulo-org2 hr,
.titulo-org1 hr,
.titulo-org3 hr{
	height: 2px;
	background: #fff;
	border: none;
	margin: 0 80px;
	margin-bottom: 20px;
	opacity: .5;

}

.contenedor-lab{
	border-radius: 5px;
	width: 50%;
	float: left;


}

.contenedor-doc{
	border-radius: 5px;
	width: 50%;
	float: right;
}


.contenedor-inf-dir {
	max-width: 1200px;
	margin:50px auto;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
}

.contenedor-inf-lab {
	width: 100%;
	margin:50px auto;
	display: flex;
	float: left;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
}

.contenedor-inf-doc {
	width: 100%;
	margin:50px auto;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
}

.contenedor_tarjeta {
	margin: 10px;
}

.contenedor_tarjeta a {
	display: inline-block;
}

.contenedor_tarjeta:hover figure {
	transform: perspective(600px) rotateY(180deg);
	-webkit-box-shadow: 0px 2px 10px 2px rgba(0,0,0,0.25);
	-moz-box-shadow: 0px 2px 10px 2px rgba(0,0,0,0.25);
	box-shadow: 0px 2px 10px 2px rgba(0,0,0,0.25);
}

.contenedor_tarjeta:hover figure img {
	/* Si queremos podemos aplicar un efecto blur a nuestra imagen al girar */
	/*filter:blur(2px);*/
}

figure {
	width: 300px;
	height: 350px;
	margin:0;
	position: relative;
	transition: all ease .5s;
	transform-style: preserve-3d;
	/* Nota:
		Establecemos que la imagen tendra una rotacion de 0grados al inicio porque si no
		ponemos esta propiedad nos da un poco de problemas en algunos navegadores al pasar el cursor.
	*/
	transform: perspective(600px) rotateY(0deg);
}

figure .frontal,
figure .trasera {
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: center;
	border-radius: 5px;
	transition: all ease .5s;
}

figure .frontal {
	display: block;
	background: #000;

	/* Podemos ocultar la imagen al da la vuelta si lo queremos */
	/*backface-visibility: hidden;*/
}

figure .trasera {
	position: absolute;
	top: 0;
	padding: 20px;
	color: #fff;
	transform: perspective(600px) rotateY(180deg);
	backface-visibility: hidden;
	overflow: auto;
	background: rgba(223,234,241,0.7);
	background: -moz-linear-gradient(top, rgba(223,234,241,0.7) 0%, rgba(15,99,144,1) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(223,234,241,0.7)), color-stop(100%, rgba(15,99,144,1)));
	background: -webkit-linear-gradient(top, rgba(223,234,241,0.7) 0%, rgba(15,99,144,1) 100%);
	background: -o-linear-gradient(top, rgba(223,234,241,0.7) 0%, rgba(15,99,144,1) 100%);
	background: -ms-linear-gradient(top, rgba(223,234,241,0.7) 0%, rgba(15,99,144,1) 100%);
	background: linear-gradient(to bottom, rgba(223,234,241,0.7) 0%, rgba(15,99,144,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#dfeaf1', endColorstr='#0f6390', GradientType=0 );
}

.contenedor_tarjeta:nth-child(1) figure .trasera{
	background: rgba(223,234,241,0.7);
	background: -moz-linear-gradient(top, rgba(223,234,241,0.7) 0%, rgba(15,99,144,1) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(223,234,241,0.7)), color-stop(100%, rgba(15,99,144,1)));
	background: -webkit-linear-gradient(top, rgba(223,234,241,0.7) 0%, rgba(15,99,144,1) 100%);
	background: -o-linear-gradient(top, rgba(223,234,241,0.7) 0%, rgba(15,99,144,1) 100%);
	background: -ms-linear-gradient(top, rgba(223,234,241,0.7) 0%, rgba(15,99,144,1) 100%);
	background: linear-gradient(to bottom, rgba(223,234,241,0.7) 0%, rgba(15,99,144,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#dfeaf1', endColorstr='#0f6390', GradientType=0 );
}

.contenedor_tarjeta:nth-child(2n) figure .trasera{
	background: rgba(251,232,202,0.7);
	background: -moz-linear-gradient(top, rgba(251,232,202,0.7) 0%, rgba(25,44,72,1) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(251,232,202,0.7)), color-stop(100%, rgba(25,44,72,1)));
	background: -webkit-linear-gradient(top, rgba(251,232,202,0.7) 0%, rgba(25,44,72,1) 100%);
	background: -o-linear-gradient(top, rgba(251,232,202,0.7) 0%, rgba(25,44,72,1) 100%);
	background: -ms-linear-gradient(top, rgba(251,232,202,0.7) 0%, rgba(25,44,72,1) 100%);
	background: linear-gradient(to bottom, rgba(251,232,202,0.7) 0%, rgba(25,44,72,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fbe8ca', endColorstr='#192c48', GradientType=0 );
}

.contenedor_tarjeta:nth-child(3n) figure .trasera{
	background: rgba(95,58,53,0.7);
	background: -moz-linear-gradient(top, rgba(95,58,53,0.7) 0%, rgba(221,32,47,1) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(95,58,53,0.7)), color-stop(100%, rgba(221,32,47,1)));
	background: -webkit-linear-gradient(top, rgba(95,58,53,0.7) 0%, rgba(221,32,47,1) 100%);
	background: -o-linear-gradient(top, rgba(95,58,53,0.7) 0%, rgba(221,32,47,1) 100%);
	background: -ms-linear-gradient(top, rgba(95,58,53,0.7) 0%, rgba(221,32,47,1) 100%);
	background: linear-gradient(to bottom, rgba(95,58,53,0.7) 0%, rgba(221,32,47,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5f3a35', endColorstr='#dd202f', GradientType=0 );
}

figure .trasera .titulo {
	color: #fff;
	font-weight: normal;
	margin-bottom: 20px;
	line-height: normal;
	font-family: 'Roboto', sans-serif;
	font-size: 24px;
}

figure .trasera hr {
	height: 2px;
	background: #fff;
	border: none;
	margin-bottom: 20px;
	opacity: .5;
}

figure .trasera p {
	font-family: 'Open Sans', sans-serif;
	line-height: 2.5;
    font-size: 12pt;
}

/************************************************************************************************RESPONSIVO********************************************************************************/
/*****************************************************************************************************************************************************************************************/


@media screen and (max-width: 1100px){
	
}

@media screen and (max-width: 950px){

	.info-mvo-con p{
		font-size: 16px;
	}

/************************************************************************************************MOV********************************************************************************/

	.info-mvo p{
		font-size: 18px;
	}

/************************************************************************************************PERFILES********************************************************************************/

	.contenedor-titulo-perfil h3{
		font-size: 28px;
	}
}

@media screen and (max-width: 800px){
	
	.partido-li{
		flex-direction: column;
	}

	.seccion1-li{
		width: 100%
	}

	.seccion2-li{
		width: 100%;
	}

/************************************************************************************************PRINCIPAL CONOCENOS********************************************************************************/

	.contenedor-seccion-mov-cuerpo-dividido{
		flex-direction: column;
	}

	.contenedor-mvo-subapartado-con{
		width: 100%;
	}

/************************************************************************************************MOV********************************************************************************/

	.contenedor-mvo-subapartado{
		flex-direction: column;
	}

	.contenedor-mov-contenido{
		width: 100%;
	}

	.contenedor-img-mvo{
		width: 100%;
	}

/************************************************************************************************PERFILES********************************************************************************/

	.contenedor-componentes-info-perfiles{
		flex-direction: column;
	}

	.imagen-perfil-campo{
		display: none;
	}

/************************************************************************************************LI Y CA********************************************************************************/


	.tabla-informacion-escolar thead{
		font-size: 20px;
	}

	.tabla-informacion-escolar td{
		font-size: 16px;
	}

	.t-con  thead{
	    font-size: 16px;
	}

/************************************************************************************************RETICULAS********************************************************************************/

	.contenedor-titulo-acordeon h3{
		font-size: 24px;
	}

/**************************************************************************************************SECCIÓN ORGANIGRAMA********************************************************************/
	
	.titulo-org1-dir1 hr {
	    margin: 0 180px;
	}
	.titulo-org1-dir hr {
	    margin: 0 180px;
	}

	.titulo-org2 hr, .titulo-org1 hr, .titulo-org3 hr {
	    margin: 0 40px;
	}

}

@media screen and (max-width: 650px){

/************************************************************************************************PERFILES********************************************************************************/

	.contenedor-titulo-perfil h3{
		font-size: 24px;
	}

	ol.round li{
		font-size: 16px;
	}

/************************************************************************************************RETICULAS********************************************************************************/

	.contenedor-titulo-acordeon h3{
		font-size: 20px;
	}

	.info-acordeon-centrado p{
		font-size: 16px;
	}

/**************************************************************************************************SECCIÓN ORGANIGRAMA********************************************************************/

	.contenedor-doc,
	.contenedor-lab{
		float: none;
	}

	.titulo-org1 {
	    float: none;
	}

	.titulo-org2 {
	    display: none;
	}

	.titulo-org3 {
	    width: 100%;
	    display: inline-block;
	}

}

@media screen and (max-width: 450px){
	.imagen-ingre-egre{
		width: 250px;
	}

/**************************************************************************************************SECCIÓN ORGANIGRAMA********************************************************************/

	.titulo-org1-dir1 hr {
	    height: 0px;
	}

	.titulo-org1-dir hr {
		height: 0px;
	}

	#titulo-organigrama {
	    font-size: 24pt;

	}

	.titulo-org2 hr,
	.titulo-org1 hr {
	    height: 0px;
	    margin: 0px;

	}
	.titulo-org3 hr{
		height: 0px;
	    margin: 0px;
	    margin-bottom: 40px;
	}
}
