

/*********************************************************SECCIÓN CONOCENOS PRINCIPAL***********************************************************************/

.partido-li{
	width: 100%;
	display: flex;
}

.seccion1-li{
	width: 60%;
	padding: 10px;
}

.seccion2-li{
	width: 40%;
	padding: 10px;
}

@media screen and (max-width: 700px){

	.partido-li{
		flex-direction: column;
	}

	.seccion1-li{
		width: 100%
	}

	.seccion2-li{
		width: 100%;
	}
}

/***************************************************************MISION VISION ******************************************************/

.fondo-mvo-con{
	background-color:#fff;
    background-attachment: fixed;
    background-position: center;
    background-size: cover; 
}

.contenedor-mvo-con{
	width: 100%;
	height: 550px; 
    padding-bottom: 50px;
}


.contenedor-mvo-subapartado-con{
	width: 95%;
	margin: auto;
}
.contenedor-img-mvo-con{
	width: 45%;
	height: 273px;
	margin: 30px auto;
	float: left;
}

.imagen-mvo-con{
	 display: block;
	 margin: auto; 
}

.contenedor-img-mvo-con2{
	width: 45%;
	height: 273px;
	margin: 30px auto;
	float: right;
}

.contenedor-titulo-mvo-con{
	width:46%;
	height:max-content;
	float: left;
	margin: 20px;
	border: 1px solid #f4f4f4;
	border-radius: 5px;
}

.contenedor-titulo-mvo-con p{
	background-color: #81ca97;
    padding: 10px 15px;
    border-bottom: 1px solid transparent;
    border-radius: 5px;
    color: #fff;
	font-size: 28pt;
	line-height: 1.42857143;
	text-align: center;
}

.titulo-con p:hover{
	background-color: #619c72;
	transition: .7s;
}

.contenedor-titulo-mvo-con2{
	width:46%;
	height:max-content;
	float: right;
	margin: 20px;
	border: 1px solid #f4f4f4;
	border-radius: 5px;
}


.contenedor-titulo-mvo-con2 p{
	background-color: #81ca97;
    padding: 10px 15px;
    border-bottom: 1px solid transparent;
    border-radius: 5px;
    color: #fff;
	font-size: 28pt;
	line-height: 1.42857143;
	text-align: center;
}

.info-mvo-con{
	display: block;
	width:100%;
	height:300px;
}

.info-mvo-con p{
	background-color: #fff;
	text-align: justify;
	font-size: 18pt;
	color:#000;
}

/***************************************************************PERFIL-CAMPO******************************************************/
.contenedor-perfil-campo-con{
	width: 100%;
    margin: auto;
    background-color: #f4f4f4
    ;
}

.contenedor-componentes-info-carrera-ingreso-con{
width: 50%;
margin: auto;
display: block;
float: left;

}

.contenedor-componentes-info-carrera-egreso-con{
width: 50%;
margin: auto;
display: block;
float: right;
text-align: end;
}
.contenedor-apartado-con{
	width: 100%;
	height: 400px;
	margin: auto;
	padding: 20px;
	display: block;
	overflow: hidden;
}
.contenedor-apartado-campo{
	width: 100%;
	margin: auto;
	padding: 20px;
}

.contenedor-titulo-perfil-con p:hover,
.contenedor-titulo-perfil-con2 p:hover,
.contenedor-titulo-campo-con p:hover{
	background-color: #619c72;
	transition: .7s;
 }   


.contenedor-titulo-perfil-con p{
   background-color: #81ca97;
    padding: 10px 15px;
    border-bottom: 1px solid transparent;
    border-radius: 5px;
    color: #fff;
    font-size: 28pt;
    line-height: 1.42857143;
    text-align: center;
    cursor: pointer;
}


.contenedor-titulo-perfil-con2 p{
    background-color: #81ca97;
    padding: 10px 15px;
    border-bottom: 1px solid transparent;
    border-radius: 5px;
    color: #fff;
    font-size: 28pt;
    line-height: 1.42857143;
    text-align: center;
    cursor: pointer;
}

.contenedor-titulo-campo-con p{
	background-color: #81ca97;
    padding: 10px 15px;
    border-bottom: 1px solid transparent;
    border-radius: 5px;
    color: #fff;
    font-size: 28pt;
    line-height: 1.42857143;
    text-align: center;
    cursor: pointer;
}


.contenedor-perfil-con{
	width: 100%;
	height: 245px;
	margin: auto;
	display: block;
	padding: 15px;
	background-color: #;
	border: 1px solid #fff;
	border-top: none;
	overflow: hidden;
	border-radius: 5px;

}
.imagen-ingre-egre-con{
	width: 200px;
	vertical-align: middle;
}

.imagen-ingre-egre-con1{
	width: 300px;
	vertical-align: middle;
}

ol.round{
	list-style-type: none;
    padding-left: 0px;

}

ol.round li{
	margin: 10px 0;
    font-family: Roboto;
    font-size: 20px;
    font-weight: lighter;
}

ol.round p{
	width: 97%;
	display: inline-block;
	padding-left: 10px;
	text-align: justify;
}
.viñeta{
	display: inline-block;
	vertical-align: top;
}

.separador{
	margin-top: 10px;
    bottom: 0;
    left: 0;
    border-width: 0 0 10vh 100vw;
    border-style: solid;
    border-color: transparent transparent #f4f4f4 transparent;
}

.separador2{
	margin-top: 10px;
    bottom: 0;
    left: 0;
    border-width: 0 0 10vh 100vw;
    border-style: solid;
    border-color: transparent transparent #fff transparent;
}
/***********************************LINEAS DE INV. Y CUERPOS ACAD.*****************************************/
.contenedor-lineas-cuerpos-reticula{
	/*padding-top: 2%;*/
}


.contenedor-lineas-cuerpos-ind{
	width: 100%;
	margin-bottom: 10%;
	border: 1px solid #f4f4f4;
	border-radius: 5px;
}

.contenedor-lineas-cuerpos{
	/*width: 60%;
	margin-left: 2%;
	display: inline-block;*/
}

.contenedor-titulo-seccion-con{
	width: 100%;
}

.contenedor-titulo-seccion-con p{
	background: #81ca97;
    padding: 10px 15px;
    border-bottom: 1px solid transparent;
    border-radius: 5px;
    color: #fff;
    font-size: 28pt;
    line-height: 1.42857143;
    text-align: center;
    cursor: pointer;
    margin-bottom: 20px;
}

.contenedor-titulo-seccion-con p:hover{
	background-color: #619c72;
	transition: .7s;
}

/***********************************TABLAS*****************************************/

.tabla-informacion-escolar{
	width: 100%;
	overflow-x: auto;
}

.tabla-informacion-escolar table{
	background: var(--blanco);
	border-collapse: collapse;
	width: 100%; 
}

.tabla-informacion-escolar thead{
	font-size: 20pt;
	text-align: center;
	background: #9abccce0;
	color: var(--blanco);
}

.tabla-informacion-escolar th, td{
	padding: 20px;
	max-width: 700px; /***TAMAÑO MÁXIMO DE LAS CELDAS***/
}

.tabla-informacion-escolar td{
	text-align: justify;
}

.tabla-informacion-escolar tr:nth-child(even){
	background-color: var(--gris); 
}

.tabla-informacion-escolar p{
	text-align: center;
}

.t-con  thead{
	padding: 5px;
    font-size: 16px;
    background-color: #69c6859e;
    color: #FFF;
}


/*******************************************************RETICULA******************************************/
.contenedor-texto-completo-acordeon-con{
	/*width: 38%;
    min-height: 350px;
    display: inline-block;
    float: right;*/
    display: flex;
    align-items: center;
    justify-content: center;
}

.contenedor-acordeon-con{
	width: 100%;
	/*height: 350px;*/
	/*display: block;
    margin: auto;*/
    text-align: -webkit-center;
    /*text-align: center;*/
    line-height: 2;
}
.contenedor-acordeon-subapartado-con{
	width:90%;
	border-radius: 5px;
	margin-bottom: 1em;
}

.contenedor-titulo-acordeon-con p:hover{
	background-color: #619c72;
	transition: .7s;
	cursor: pointer;
}

.contenedor-titulo-acordeon-con p{
	width:100%;
	height:74px;
	background-color: #81ca97;
	border-radius: 5px;
	color: white;
	font-size: 28pt;
	font-family: 'Roboto', sans-serif;
	text-transform: capitalize; 
}

.info-acordeon-con{
	width:100%;
	height:auto;
	background-color: #f5f5f5;
	padding: 20px 0;
	overflow: hidden;
}

.info-acordeon p{
	margin:20px;
	text-align: justify;
	color:#000;
}

.contenedor-enlaces-con a{
	margin:20px;
	text-align: justify;
	color:#000;
}
.contenedor-enlaces-con a:hover{
	color:#1e1b5a;
}

/*******************************************************ORGANIGRAMA******************************************/
.contenedor-texto-completo-org-con{
	width: 100%;
    /*min-height: 350px;
    margin-top: -41%;
    display: inline-block;
    float: right;*/
}

.contenedor-org-con{
	width: 100%;
	height: 300px;
	display: block;
    margin: auto;
    text-align: -webkit-center;
    /*text-align: center;*/
}
.contenedor-org-subapartado-con{
	width:90%;
	border-radius: 5px;
	margin-bottom: 1em;
}


.contenedor-titulo-org-con p{
	height:74px;
	background-color: #81ca97;
	font-family: 'Roboto', sans-serif;
	border-radius: 5px;
	color: white;
	font-size: 28pt;
}

.contenedor-titulo-org-con p:hover{
	background-color: #619c72;
	transition: .7s
}

/*.contenedor-org-subapartado-con:hover{
box-shadow: 0 1px 6px #000;
}*/

.info-org-con{
	width:100%;
	height:auto;
	padding-top: 10px;
	background-color: #f5f5f5;
	overflow: hidden;
}

.info-org p{
	margin:20px;
	text-align: justify;
	color:#000;
}


/***************************************************************FIN SECCION CONOCENOS PRINCIPAL******************************************************/

/************************************************************************************************SECCIÓN CONOCENOS MVO***********************************************************************/

.fondo-mvo{
	background:url(../img/textura3.jpg);
    background-attachment: fixed;
    background-position: center;
    background-size: cover; 
}

.contenedor-texto-mvo{
	width: 100%;
	min-height: 250px;
    margin: auto;
    padding: 10px;
    font-family: 'Roboto', sans-serif;
	border: 2px solid var(--verde);
	border-radius: 10px;
}

.contenedor-mvo{
	width: 100%;
	height: 434px;
    background-color: #d9dfffe0; 
    padding-top: 50px;
    padding-bottom: 50px;
}

.contenedor-mvo:nth-child(odd){
	background-color: #fff
}

.contenedor-mvo-subapartado{
	width: 90%;
	margin: auto;
}
.contenedor-img-mvo{
	width: 45%;
	height: 273px;
	margin: 30px auto;
	float: left;
}

.imagen-mvo{
	width: auto;
	height: 100%;
	display: block;
	margin: auto;
	object-fit: cover;
    object-position: center;
    overflow: hidden; 
}

.contenedor-img-mvo2{
	width: 45%;
	height: 273px;
	margin: 30px auto;
	float: right;
}

.contenedor-titulo-mvo{
	width:50%;
	height:max-content;
	float: right;
}


.contenedor-titulo-mvo p{
	color: #f1592a;
	padding: 10px;
	padding-bottom: 10px;
	font-size: 28pt;
	line-height: 1.42857143;
	text-align: left;
}

.contenedor-titulo-mvo-2{
	width:50%;
	height:max-content;
	float: left;
}


.contenedor-titulo-mvo-2 p{
	color: #f1592a;
	padding: 10px;
	padding-bottom: 10px;
	font-size: 28pt;
	line-height: 1.42857143;
	text-align: left;
}

.info-mvo{
	display: block;
	width:100%;
	height:200px;
}

.info-mvo p{
	text-align: justify;
	font-size: 18pt;
	color:#000;
}


/************************************************************************************************FIN SECCIÓN MVO***********************************************************************/

/************************************************************************************************SECCIÓN CONOCENOS PERFIL-CAMPO***********************************************************************/

.contenedor-perfil-campo{
	width: 100%;
	margin: auto;
	contain: content;
}


.contenedor-componentes-info-carrera-ingreso{
width: 100%;
margin: auto;
display: block;
float: left;

}

.contenedor-componentes-info-carrera-egreso{
width: 100%;
margin: auto;
display: block;
float: right;
text-align: end;
}

.contenedor-apartado{
	width: 100%;
	margin: auto;
	padding: 20px;
	display: flex;
	background-color: #ffffffe0
}

.contenedor-componentes-info-carrera-egreso:nth-child(even){
background: url(../img/textura3.jpg);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}	

.contenedor-titulo-perfil{
	/*background-color: #bae4dac7;*/
	background-color: #ff8d00bf;
	padding: 10px 15px;
    border-bottom: 1px solid transparent;
    border-radius: 5px;

}


.contenedor-titulo-perfil p{
    color: white;
    font-weight: normal;
    font-size: 28pt;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
    line-height: 1.1;
}


.contenedor-titulo-campo h3{
    color: white;
    font-weight: normal;
    font-size: 27px;
    margin-top: 10px;
    margin-bottom: 10px;
    line-height: 1.1;
}

.contenedor-perfil{
	width: 100%;
	min-height: 302.44px;
	margin: auto;
	display: block;
	padding: 15px;
	border: 1px solid #f4f4f4;

}

.contenedor-perfil1{
	width: 100%;
	min-height: 302.44px;
	margin: auto;
	display: block;
	padding: 15px;
	border: 1px solid #fff;

}

.imagen-perfil-campo{
	width: 200px;
    display: block;
    position: relative;
}

.imagen-ingre-egre{
	width: 300px;
}

ol.round{
	list-style-type: none;
    padding-left: 0px;

}

ol.round li{
	margin: 10px 0;
    font-family: Roboto;
    font-size: 20px;
    font-weight: lighter;
}

ol.round p{
	width: 97%;
	line-height: 1.5;
	display: inline-block;
	padding-left: 10px;
	text-align: justify;
}
.viñeta{
	display: inline-block;
	vertical-align: top;
	width: 8.63px;
}


.contenedor-componentes-info-carrera{
	width: 100%;
	margin:auto;
	display: flex;
}



.contenedor-titulo-campo{
	background-color: #bcc696;
	padding: 10px 15px;
    border-bottom: 1px solid transparent;
    border-radius: 5px;
    text-align: center;
}

.contenedor-apartado-campo{
	width: 100%;
	margin: auto;
	padding: 20px;
}

/*******************************************************SECCIONES ACORDEON******************************************/
.contenedor-texto-completo-acordeon{
	width: 100%;
	min-height: 500px; 
    padding: 10px;
}

.contenedor-acordeon{
	display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    text-align: -webkit-center;
    text-align: -moz-center;
}
.contenedor-acordeon-subapartado{
	width:80%;
	min-height:50px;
	-webkit-transiton: height 0.3s;
	border-radius: 5px;
	margin-bottom: 1em;
	cursor: pointer;
}

.contenedor-titulo-acordeon{
	font-family: 'Roboto', sans-serif;
}

.contenedor-titulo-acordeon p{
	background-color: #81ca97;
    padding: 10px 15px;
    border-bottom: 1px solid transparent;
    border-radius: 5px;
    color: #fff;
    font-size: 28pt;
    line-height: 1.42857143;
    text-align: center;
    text-transform: capitalize;
}

.contenedor-titulo-acordeon p:hover{
transition: .9s;
background-color: #1b396a;
}


.info-acordeon-centrado{
	display: block;
	width:100%;
	height:auto;
	background-color: #f5f5f5;
	opacity: 0.9;
	overflow: hidden;
}

.info-acordeon-centrado p{
	margin:20px;
	text-align: center;
	font-size: 18pt;
	color:#000;
}

.icono-aco-derecha {
	float: right;
	font-size: xx-large;
}
/*******************************************************SECCIÓN ORGANIGRAMA******************************************/
.skew-abajo-org{
	
    position: absolute;
    bottom: 0;
    left: 0;
    border-width: 0 0 10vh 100vw;
    border-style: solid;
    border-color: transparent transparent #e8f0f5 transparent
}

.contenedor-organigrama{
	display: flex;
	align-items: center;
	justify-content: center;
	contain: content;
	background: rgba(223,234,241,0.7);
	background: -moz-linear-gradient(top, rgba(223,234,241,0.7) 0%, rgba(15,99,144,1) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(223,234,241,0.7)), color-stop(100%, rgba(15,99,144,1)));
	background: -webkit-linear-gradient(top, rgba(223,234,241,0.7) 0%, rgba(15,99,144,1) 100%);
	background: -o-linear-gradient(top, rgba(223,234,241,0.7) 0%, rgba(15,99,144,1) 100%);
	background: -ms-linear-gradient(top, rgba(223,234,241,0.7) 0%, rgba(15,99,144,1) 100%);
	background: linear-gradient(to bottom, rgba(223,234,241,0.7) 0%, rgba(15,99,144,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#dfeaf1', endColorstr='#0f6390', GradientType=0 );
}

#titulo-organigrama1{
	width: 100%;
	color: #f1592a;
	font-size: 28pt;
    font-family: 'Roboto', sans-serif;
}

.titulo-org1-dir1 hr{
	height: 2px;
	background: #f1592a;
	border: none;
	margin: 0 260px;
	margin-bottom: 20px;
	opacity: .5;
}

#titulo-organigrama{
	width: 100%;
	color: #fff;
	font-size: 28pt;
    font-family: 'Roboto', sans-serif;
}

.organigrama p{
	 font-family: 'Roboto', sans-serif;
	 line-height: 20px;
	 text-align: center;
	 margin-top: 20px;

}


.contenedor-dir{
	border-radius: 5px;
	display: inline-block;
	text-align: -webkit-center;
	text-align: -moz-center;
}

.contenedor-lab-doc{
	border-radius: 25px;
	width: 100%;
	height: 100%
}

.titulo-org1-dir{
	width: 100%;
    display: inline-block;
    align-items: center;
}

.titulo-org1-dir hr{
	height: 2px;
	background: #fff;
	border: none;
	margin: 0 240px;
	margin-bottom: 20px;
	opacity: .5;
}

.titulo-org1{
	width: 50%;
    display: inline-block;
    float: left;
}

.titulo-org2{
	width: 50%;
    display: inline-block;
    float: right;
}

.titulo-org3{
	width: 50%;
    display: none;
    float: right;
}

.titulo-org2 hr,
.titulo-org1 hr,
.titulo-org3 hr{
	height: 2px;
	background: #fff;
	border: none;
	margin: 0 80px;
	margin-bottom: 20px;
	opacity: .5;

}

.contenedor-lab{
	border-radius: 5px;
	width: 50%;
	float: left;


}

.contenedor-doc{
	border-radius: 5px;
	width: 50%;
	float: right;
}


.contenedor-inf-dir {
	max-width: 1200px;
	margin:50px auto;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
}

.contenedor-inf-lab {
	width: 100%;
	margin:50px auto;
	display: flex;
	float: left;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
}

.contenedor-inf-doc {
	width: 100%;
	margin:50px auto;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
}

.contenedor_tarjeta {
	margin: 10px;
}

.contenedor_tarjeta a {
	display: inline-block;
}

.contenedor_tarjeta:hover figure {
	transform: perspective(600px) rotateY(180deg);
	-webkit-box-shadow: 0px 2px 10px 2px rgba(0,0,0,0.25);
	-moz-box-shadow: 0px 2px 10px 2px rgba(0,0,0,0.25);
	box-shadow: 0px 2px 10px 2px rgba(0,0,0,0.25);
}

.contenedor_tarjeta:hover figure img {
	/* Si queremos podemos aplicar un efecto blur a nuestra imagen al girar */
	/*filter:blur(2px);*/
}

figure {
	width: 300px;
	height: 350px;
	margin:0;
	position: relative;
	transition: all ease .5s;
	transform-style: preserve-3d;
	/* Nota:
		Establecemos que la imagen tendra una rotacion de 0grados al inicio porque si no
		ponemos esta propiedad nos da un poco de problemas en algunos navegadores al pasar el cursor.
	*/
	transform: perspective(600px) rotateY(0deg);
}

figure .frontal,
figure .trasera {
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: center;
	border-radius: 5px;
	transition: all ease .5s;
}

figure .frontal {
	display: block;
	background: #000;

	/* Podemos ocultar la imagen al da la vuelta si lo queremos */
	/*backface-visibility: hidden;*/
}

figure .trasera {
	position: absolute;
	top: 0;
	padding: 20px;
	color: #fff;
	transform: perspective(600px) rotateY(180deg);
	backface-visibility: hidden;
	overflow: auto;
	background: rgba(223,234,241,0.7);
	background: -moz-linear-gradient(top, rgba(223,234,241,0.7) 0%, rgba(15,99,144,1) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(223,234,241,0.7)), color-stop(100%, rgba(15,99,144,1)));
	background: -webkit-linear-gradient(top, rgba(223,234,241,0.7) 0%, rgba(15,99,144,1) 100%);
	background: -o-linear-gradient(top, rgba(223,234,241,0.7) 0%, rgba(15,99,144,1) 100%);
	background: -ms-linear-gradient(top, rgba(223,234,241,0.7) 0%, rgba(15,99,144,1) 100%);
	background: linear-gradient(to bottom, rgba(223,234,241,0.7) 0%, rgba(15,99,144,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#dfeaf1', endColorstr='#0f6390', GradientType=0 );
}

.contenedor_tarjeta:nth-child(1) figure .trasera{
	background: rgba(223,234,241,0.7);
	background: -moz-linear-gradient(top, rgba(223,234,241,0.7) 0%, rgba(15,99,144,1) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(223,234,241,0.7)), color-stop(100%, rgba(15,99,144,1)));
	background: -webkit-linear-gradient(top, rgba(223,234,241,0.7) 0%, rgba(15,99,144,1) 100%);
	background: -o-linear-gradient(top, rgba(223,234,241,0.7) 0%, rgba(15,99,144,1) 100%);
	background: -ms-linear-gradient(top, rgba(223,234,241,0.7) 0%, rgba(15,99,144,1) 100%);
	background: linear-gradient(to bottom, rgba(223,234,241,0.7) 0%, rgba(15,99,144,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#dfeaf1', endColorstr='#0f6390', GradientType=0 );
}

.contenedor_tarjeta:nth-child(2n) figure .trasera{
	background: rgba(251,232,202,0.7);
	background: -moz-linear-gradient(top, rgba(251,232,202,0.7) 0%, rgba(25,44,72,1) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(251,232,202,0.7)), color-stop(100%, rgba(25,44,72,1)));
	background: -webkit-linear-gradient(top, rgba(251,232,202,0.7) 0%, rgba(25,44,72,1) 100%);
	background: -o-linear-gradient(top, rgba(251,232,202,0.7) 0%, rgba(25,44,72,1) 100%);
	background: -ms-linear-gradient(top, rgba(251,232,202,0.7) 0%, rgba(25,44,72,1) 100%);
	background: linear-gradient(to bottom, rgba(251,232,202,0.7) 0%, rgba(25,44,72,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fbe8ca', endColorstr='#192c48', GradientType=0 );
}

.contenedor_tarjeta:nth-child(3n) figure .trasera{
	background: rgba(95,58,53,0.7);
	background: -moz-linear-gradient(top, rgba(95,58,53,0.7) 0%, rgba(221,32,47,1) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(95,58,53,0.7)), color-stop(100%, rgba(221,32,47,1)));
	background: -webkit-linear-gradient(top, rgba(95,58,53,0.7) 0%, rgba(221,32,47,1) 100%);
	background: -o-linear-gradient(top, rgba(95,58,53,0.7) 0%, rgba(221,32,47,1) 100%);
	background: -ms-linear-gradient(top, rgba(95,58,53,0.7) 0%, rgba(221,32,47,1) 100%);
	background: linear-gradient(to bottom, rgba(95,58,53,0.7) 0%, rgba(221,32,47,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5f3a35', endColorstr='#dd202f', GradientType=0 );
}

figure .trasera .titulo {
	color: #fff;
	font-weight: normal;
	margin-bottom: 20px;
	line-height: normal;
	font-family: 'Roboto', sans-serif;
	font-size: 24px;
}

figure .trasera hr {
	height: 2px;
	background: #fff;
	border: none;
	margin-bottom: 20px;
	opacity: .5;
}

figure .trasera p {
	font-family: 'Open Sans', sans-serif;
	line-height: 2.5;
    font-size: 12pt;
}



/*******************************************************SECCIÓN LINEAS CUERPOS******************************************/
.titulo-linea-cuerpo p{
	color: #f1592a;
    padding-top: 20px;
    font-size: 28pt;
    line-height: 1.42857143;
    text-align: -webkit-center;
    text-align: center;
}




.advertencia{
	align-items: center;
	justify-content: center;
	padding: 10px;
	border-radius: 4px;
	background: #E74C3C;
	color: var(--blanco);
	display: none;
}
/*******************************************************SECCIÓN RESPONSIVA******************************************/

/*******************************************************SECCIÓN PRINCIPAL******************************************/

/*******************************************************SECCIÓN INFO-MVO-CON******************************************/


@media screen and (max-width: 700px){/************************700PX***********************************/

.titulo-linea-cuerpo p{
    padding-top: 20px;
    font-size: 25pt;
}

.contenedor-titulo-mvo-con,
.contenedor-titulo-mvo-con2{
	width:48%;
	margin: 0px;
}

.contenedor-titulo-mvo-con p,
.contenedor-titulo-mvo-con2 p{
	padding: 5px 15px;
	font-size: 24pt;
}

.info-mvo-con p {
    font-size: 16pt;
}

/*******************************************************SECCIÓN PERFIL-CARRERA-CON******************************************/


.contenedor-titulo-perfil-con p,
.contenedor-titulo-perfil-con2 p{
    padding: 5px 15px;
    font-size: 24pt;
 }

.contenedor-apartado-con {
	padding: 10PX;
	height: 350px;
}

 .contenedor-perfil-con {
    padding: 10px;
}

ol.round p {
    width: 94%;
}
/*******************************************************SECCIÓN LINEAS-CUERPOS-CON******************************************/

.contenedor-titulo-seccion-con p {
    padding: 5px 15px;
    font-size: 24pt;
    margin-bottom: 15px;
}
/*******************************************************SECCIÓN RETICULA-CON******************************************/
.contenedor-acordeon-subapartado-con {
    width: 100%;
}

.contenedor-titulo-acordeon-con p {
    height: 49px;
    font-size: 24pt;
}

.contenedor-acordeon-con p{
    line-height: 1.5;
}

.contenedor-enlaces-con a {
	font-size: 9pt;
	margin: 0;
}

/*******************************************************SECCIÓN ORGANIGRAMA-CON******************************************/

.contenedor-texto-completo-org-con{
   /* min-height: 280px;
    margin-top: -82%; */
}

.contenedor-org-con{
	/*width: 90%;*/
	height: 260px;
}
.contenedor-org-subapartado-con{
	width:100%;
}

.contenedor-titulo-org-con p{
	height:49px;
	font-size: 24pt;
	line-height: 1.5;
}

.info-org-con{
	padding-top: 5px;
}

.info-org p{
	margin:10px;
}

.imagen-ingre-egre{
	width: 220px;
}

}	
@media screen and (max-width: 450px){/************************450PX***********************************/
.contenedor-mvo-con{
	height: 670px;
	padding-bottom: 25px;

}

.titulo-linea-cuerpo p{
    padding-top: 10px;
    font-size: 17pt;
    padding-bottom: 10px;
}

.contenedor-mvo-subapartado-con {
    width: 100%;
    padding: 10px 0;
}

.contenedor-titulo-mvo-con,
.contenedor-titulo-mvo-con2{
	width:95%;
	margin: auto;
	float: none;
}

.contenedor-titulo-mvo-con p,
.contenedor-titulo-mvo-con2 p{
	padding: 1px 15px;
	font-size: 22pt;
}
.info-mvo-con{
	height: 250px;
}

.info-mvo-con p {
    font-size: 14pt;
    padding: 10px;
}

/*******************************************************SECCIÓN PERFIL-CARRERA-CON******************************************/
.contenedor-componentes-info-carrera-egreso-con,
.contenedor-componentes-info-carrera-ingreso-con{
    width: 100%;
    padding: 10px 0;
}

.contenedor-mvo-subaartado-con{
	padding-bottom: 20px;
}

.contenedor-titulo-perfil-con p,
.contenedor-titulo-perfil-con2 p{
    padding: 1px 15px;
    font-size: 24pt;
 }

.contenedor-apartado-con {
	padding: 10PX;
	height: 350px;
}

 .contenedor-perfil-con {
    height: 280px;
}

ol.round p {
    width: 94%;
    font-size: 12pt;
}
/*******************************************************SECCIÓN LINEAS-CUERPOS-CON******************************************/

.contenedor-lineas-cuerpos {
    width: 95%;
    margin: auto;
    display: block;
}

.contenedor-titulo-seccion-con p {
    padding: 5px 15px;
    font-size: 22pt;
    margin-bottom: 15px;
}
/*******************************************************SECCIÓN RETICULA-CON******************************************/
.contenedor-texto-completo-acordeon-con {
    min-height: 350px;
    display: contents;
}

.contenedor-acordeon-subapartado-con {
    width: 100%;
}

.contenedor-titulo-acordeon-con p {
    height: 49px;
    font-size: 24pt;
}

.contenedor-acordeon-con {
    /*width: 47%;
    height: auto;
    display: block;
    margin-left: 10px;
    text-align: center;*/
}

.info-acordeon-con p{
	font-size: 8pt;
    line-height: 1.5;
}

.contenedor-enlaces-con a {
	font-size: 8pt;
	margin: 0;
}

/*******************************************************SECCIÓN ORGANIGRAMA-CON******************************************/

.contenedor-texto-completo-org-con {
   /* min-height: 200px;
    margin-top: -222px;
    margin-right: 10px;
    float: right;
    width: 46%;*/
}
.contenedor-org-con{
	width: 100%;
	height: 200px;
}


.contenedor-titulo-org-con p{
	height:49px;
	font-size: 22pt;
	line-height: 1.5;
}

.info-org-con{
	padding-top: 5px;
}

.info-org p{
	margin:10px;
}

.imagen-ingre-egre{
	width: 	160px;
}

}

@media screen and (max-width: 375px){/************************375PX***********************************/
/*******************************************************SECCIÓN PERFIL-CARRERA-CON******************************************/

.contenedor-apartado-con {
    height: 270px;
}
/*******************************************************SECCIÓN LINEAS-CUERPOS-CON******************************************/


/*******************************************************SECCIÓN ORGANIGRAMA-CON******************************************/
.contenedor-texto-completo-org-con {
    margin-top: -254px;
}
.contenedor-titulo-org-con p  {
    font-size: 18pt;
    padding-top: 5px;
}

}

@media screen and (max-width: 360px){/************************360PX***********************************/
.contenedor-mvo-con {
    height: 710px;
}

.titulo-linea-cuerpo p {
    font-size: 15pt;
}

.info-mvo-con p {
    font-size: 13pt;
    padding: 10px;
}

.contenedor-mvo-con {
    height: 750px;
}

.contenedor-perfil-con {
    height: 220px;
    margin-bottom: 10px;
}

.contenedor-titulo-seccion-con p {
    padding: 5px 15px;
    font-size: 19pt;
    margin-bottom: 15px;
}

.contenedor-texto-completo-org-con {
    margin-top: -218px;
}

.info-acordeon-con p {
    font-size: 7pt;
}

.imagen-ingre-egre {
    width: 146px;
}

}
/*******************************************************SECCIÓN MVO******************************************/


@media screen and (max-width: 700px){/************************700PX***********************************/

.contenedor-mvo{
	height: 550px;
    padding-top: 25px;
    padding-bottom: 25px;
}

.contenedor-img-mvo{
	height: 220px;
	margin: 1% auto;
	width: 100%;
}

.contenedor-img-mvo2{
	height: 220px;
	margin: 1% auto;
	width: 100%;
}

.contenedor-titulo-mvo,
.contenedor-titulo-mvo-2{
	width: 100%
}

.contenedor-titulo-mvo p{
	padding: 5px;
	padding-bottom: 10px;
	font-size: 28pt;
}

.contenedor-titulo-mvo-2 p{
	padding: 5px;
	padding-bottom: 10px;
	font-size: 28pt;
}

.info-mvo{
	display: block;
	width:100%;
	height:200px;
}

.info-mvo p{
	font-size: 16pt;
}

}


@media screen and (max-width: 450px){/**************************450PX*******************************/

.contenedor-mvo{
	height: 490px;
    padding-top: 25px;
    padding-bottom: 25px;
}

.contenedor-img-mvo{
	height: 160px;
	margin: 1% auto;
	width: 100%;
}

.contenedor-img-mvo2{
	height: 160px;
	margin: 1% auto;
	width: 100%;
}

.contenedor-titulo-mvo,
.contenedor-titulo-mvo-2{
	width: 100%
}

.contenedor-titulo-mvo p{
	padding: 5px;
	padding-bottom: 10px;
	font-size: 25pt;
}

.contenedor-titulo-mvo-2 p{
	padding: 5px;
	padding-bottom: 10px;
	font-size: 25pt;
}

.info-mvo{
	display: block;
	width:100%;
	height:200px;
}

.info-mvo p{
	font-size: 13pt;
}

}

@media screen and (max-width: 360px){/**************************375PX*******************************/

.info-mvo p {
    font-size: 12pt;
}

}


/*******************************************************SECCIÓN ACORDEON******************************************/



@media screen and (max-width: 700px){/************************700PX***********************************/

.contenedor-titulo-acordeon p{
    font-size: 20pt;
}

.info-acordeon-centrado p{
	margin:10px;
	font-size: 15pt;
}

.contenedor-enlaces-con a{
	font-size: 11pt;
}

}

@media screen and (max-width: 450px){/**************************450PX*******************************/

.contenedor-titulo-acordeon p{
    font-size: 16pt;
}

.info-acordeon-centrado p{
	margin:10px;
	font-size: 10pt;
}

.contenedor-enlaces-con a{
	font-size: 7pt;
}

}

@media screen and (max-width: 375px){/**************************375PX*******************************/

.contenedor-titulo-acordeon p{
    font-size: 14pt;
}

.info-acordeon-centrado p{
	margin:10px;
	font-size: 9pt;
}

.contenedor-enlaces-con a{
	font-size: 6pt;
}

}

/*******************************************************SECCIÓN PERFIL-CAMPO-ISC******************************************/



@media screen and (max-width: 800px){/************************800PX***********************************/

.contenedor-titulo-perfil p {
    font-size: 25pt;
}

.imagen-perfil-campo {
    width: 150px;
    margin: auto;
}

ol.round p {
    line-height: 1.4;
}

}

@media screen and (max-width: 450px){/**************************450PX*******************************/

.contenedor-apartado {
    padding: 10px;
    display: block;
}

.contenedor-titulo-perfil p {
    font-size: 24pt;
    margin: 5px;
}

.imagen-perfil-campo {
    display: none;
}


}

@media screen and (max-width: 375px){/**************************375PX*******************************/

ol.round p {
    font-size: 11pt;
}
.viñeta {
    font-size: 11pt;
}

}

/*******************************************************SECCIÓN LINEAS-CUERPOS******************************************/

@media screen and (max-width: 1150px){
	

	.tabla-informacion-escolar thead{
		font-size: 20pt;
	}

	.t-con  thead{
	    font-size: 16px;
	}

	.tabla-informacion-escolar th, td{
		padding: 15px;
	}
}

@media screen and (max-width: 650px){/************************700PX***********************************/

	.tabla-informacion-escolar thead{
		font-size: 15pt;
	}

	.t-con  thead{
	    font-size: 16px;
	}

}

@media screen and (max-width: 480px){/**************************450PX*******************************/
	
	/***********************************TABLAS*****************************************/

	.tabla-informacion-escolar thead{
		font-size: 12pt;
	}

	.t-con  thead{
	    font-size: 16px;
	}

	.tabla-informacion-escolar{
		font-size: 9pt;
	}

	.tabla-informacion-escolar p{
		font-size: 9pt;
	}

}


/*******************************************************SECCIÓN ORGANIGRAMA******************************************/

@media screen and (max-width: 800px){/************************700PX***********************************/

.titulo-org1-dir1 hr {
    margin: 0 180px;
}
.titulo-org1-dir hr {
    margin: 0 180px;
}

.titulo-org2 hr, .titulo-org1 hr, .titulo-org3 hr {
    margin: 0 40px;
}
}
@media screen and (max-width: 450px){/**************************450PX*******************************/

.contenedor-doc,
.contenedor-lab{
	float: none;
}
.titulo-org1-dir1 hr {
    height: 0px;
}

.titulo-org1-dir hr {
	height: 0px;
}

.titulo-org1 {
    float: none;
}

.titulo-org2 {
    display: none;
}

.titulo-org3 {
    width: 100%;
    display: inline-block;
}

#titulo-organigrama {
    font-size: 24pt;

}

.titulo-org2 hr,
.titulo-org1 hr {
    height: 0px;
    margin: 0px;

}
.titulo-org3 hr{
	height: 0px;
    margin: 0px;
    margin-bottom: 40px;
}
}


