/*@import url('estilos-publico.css');*/

:root {
  --azul: #1B396A;
  --verde: #8cc63e;
  --blanco: #ffffff;
  --azul-claro: #1a95d5;
  --gris: #ddd;
  --verde-azulado: #369681;

  --azul-fuerte: #012138;
  --azul-medio: #013253;
  --gris-tipo2: #8f8f8f;
  --gris-fuerte: #3e3e3e;
  --gris-tipo1: #e7e7e7;

  --naranja: #f1592a;

  --azul-bajo: #79bad6;

  font-family: 'Roboto', sans-serif;

}


/************************************************************************************************SECCIÓN ALERTAS********************************************************************************/

.glyphicon-alert:before {
  content: "\e209";
}

.alert {
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px;
}

.alert h4 {
  margin-top: 0;
  color: inherit;
}
.alert .alert-link {
  font-weight: bold;
}
.alert > p,
.alert > ul {
  margin-bottom: 0;
}
.alert > p + p {
  margin-top: 5px;
}
.alert-dismissable,
.alert-dismissible {
  padding-right: 35px;
}
.alert-dismissable .close,
.alert-dismissible .close {
  position: relative;
  top: -2px;
  right: -21px;
  color: inherit;
}
.alert-success {
  color: #3c763d;
  background-color: #dff0d8;
  border-color: #d6e9c6;
}
.alert-success hr {
  border-top-color: #c9e2b3;
}
.alert-success .alert-link {
  color: #2b542c;
}
.alert-info {
  color: #31708f;
  background-color: #d9edf7;
  border-color: #bce8f1;
}
.alert-info hr {
  border-top-color: #a6e1ec;
}
.alert-info .alert-link {
  color: #245269;
}
.alert-warning {
  color: #8a6d3b;
  background-color: #fcf8e3;
  border-color: #faebcc;
}
.alert-warning hr {
  border-top-color: #f7e1b5;
}
.alert-warning .alert-link {
  color: #66512c;
}
.alert-danger {
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
}
.alert-danger hr {
  border-top-color: #e4b9c0;
}
.alert-danger .alert-link {
  color: #843534;
}

/************************************************************************************************SECCIONES PRINCIPALES********************************************************************************/

.seccion-principal{
	width: 100%;
}

/************************************************************************************************PAGINA HOME********************************************************************************/

.contenedor-descripcion{
	background: var(--gris-tipo1);
	width: 100%;
  padding: 50px;
}

.contenedor-descripcion-txt{
	width: 80%;
	margin: auto;
	color: var(--azul);

    display: flex;
    justify-content: center;
    flex-direction: column;
}

.contenedor-descripcion-txt h3{
	font-size: 50px;
    font-weight: 400;
    color: var(--naranja);
    text-align: center;
    margin-bottom: 20px;
}
.contenedor-descripcion-txt p{
	text-align: center;
    font-size: 17px;
    color: var(--black);
    line-height: 35px;
    margin:10px 0px;
}

.contenedor-dividido{
	display: flex;
	flex-direction: row;
}

.contenedor-noticia-1{
	width: 65%;
	padding: 20px;
}

.contenedor-seccion-dividido-noticia-1{ /* --------->Seccion de Noticias inicio*/
	display: flex;
	align-items: center;
	padding-top: 10px;
}

.contenedor-cuerpo-txt{/* --------->Seccion de Noticias texto inicio*/
	width: calc(100% - 400px); /* ---->Restamos los 250px del ancho de la img*/
	height: 400px;
	overflow: hidden;
	border: 5px solid var(--blanco);
}

.contenedor-txt-N1{
	height: 330px;
	padding: 5px;
	overflow: hidden;
	line-height: 2;
}

.contenedor-txt-N1 p{ 
    text-align: justify;
    /*white-space:nowrap;
    text-overflow: ellipsis;*/

}

.contenedor-img-contenido{
	width: 400px;
	height: 400px;
	border: 5px solid var(--blanco);
    overflow: hidden;
    position: relative;
}

.contenedor-img-contenido img{
	width: 100%;
	height: 100%;
	object-fit: cover;
    object-position: center;
}

.seccion-continuacion{
	width: 100%;
	height: 70px;
	background: var(--azul);
}

/************************************FECHA Y HORA***********************************/

.seccion-fecha-noticia{
	width: 100%;
	padding: 20px;
	text-align: center;
	position: absolute;
	bottom: 0;
	background: var(--azul);
	opacity: .8;
	color: var(--blanco);
}

/************************************************************************************************FIN PAGINA HOME********************************************************************************/

/************************************************************************************************SECCIÓN PRELIMINAR***********************************************************************/

.contenedor-previsualizar-seccion{
	width: 100%;
	text-align: center;
	padding: 20px;
}

/***********************************SECCIONES PRELIMINARES NOTICIAS**************************************/


.contenedor-seccion-preliminar{
	width: 300px;
}

.contenedor-seccion-noticias-preliminar{
	display: inline-block;
	margin: 10px 10px 0px 0px;
	background: var(--gris-tipo1);
	border-radius: 5px;
	padding: 5px;
}

.contenedor-seccion-preliminar-img{
	width: 300px;
	height: 300px;
    /*box-shadow: 0 4px 6px #000;*/
    border: 5px solid var(--gris-tipo1);
    overflow: hidden;
    position: relative;
}

.contenedor-seccion-preliminar-img img{
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: center;
}

.contenedor-cuerpo-txt-preliminar{
	width: 100%;
	max-height: 100px;
}

.contenedor-cuerpo-txt-preliminar p{
	padding: 5px;
	max-height: 70px;
    text-align: justify;
    line-height: 20px;
    overflow:hidden;
    white-space:nowrap;
    text-overflow: ellipsis;
}

/************************************************************************************************FIN SECCIÓN PRELIMINAR***********************************************************************/

/************************************************************************************************SECCIÓN IMG PARALLAX***********************************************************************/
.contenedor-img-parallax{
	position: relative;
    width: 100%;
}

.img-parallax{
    position: relative;
    width: 100%;
    height: 50vh;
    background:url(../img/contacto.jpg);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

.img-parallax .parallax{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.6);

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.img-parallax .parallax h1{
    font-size: 50px;
    color:#fff;
    font-weight: 200;
}

.img-parallax .parallax hr{
    width: 400px;
    height: 2px;
    background: #fff;
    border: none;
    margin-top: 5px;
}
.img-parallax .parallax p{
    font-size: 20px;
    color: #fff;
    margin-top: 20px;
}
.img-parallax .parallax > button{
    width: 170px;
    height: 40px;
    background: var(--azul);
    border-radius: 24px;
    border:none;
    outline: none;
    font-size: 22px;
    color: #fff;
    text-align: center;
    margin-top: 20px;
    cursor: pointer;
    transition: 0.5s;
}
.img-parallax .parallax > button:hover{
    background:var(--azul-bajo);
}


/************************************************************************************************FIN SECCIÓN IMG PARALLAX***********************************************************************/

/************************************************************************************************SECCIÓN IMG ENCABEZADO***********************************************************************/

.contenedor-img-encabezado{
	position: relative;
  width: 100%;
}

.img-encabezado{
	position: relative;
    width: 100%;
    height: 50vh; /**Antes era 500px **/
    overflow: hidden;
}

.img-encabezado img{
	width: 100%;
	height: 100%; /***Hacer Responsivo***/
	object-fit: cover;
	object-position: center;
  animation: desvanecer 1s ease-in;
}

.encabezado{
	position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
}

.encabezado h1{
    font-size: 50px;
    color:#fff;
    font-weight: 200;
    animation: moverDerecha 1s ease-in;
}

.encabezado hr{
    width: 400px;
    height: 2px;
    background: #fff;
    border: none;
    margin-top: 5px;
     animation: moverIzquierda 1s ease-in;
}

/************************************************************************************************FIN SECCIÓN IMG ENCABEZADO***********************************************************************/

/************************************************************************************************SECCIÓN PROYECTOS***********************************************************************/

/** Nuestros proyectos **/
.our-projects{
    position: relative;
    width: 100%;
    height: 100%; 
    background: url(../img/textura1.jpg);
    background-attachment:fixed;
    background-position: center;
    background-size: cover;
    /*margin-top: 100px;*/
}
.deg-background{
    position:absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background:rgba(27,57,106,0.8);
}
.ejeZproject{
    position: relative;
    width: 100%;
    height: 100%;
}
.container-project{
    width: 90%;
    margin:auto;
    padding-top: 100px;
}
.project-title{
    border:2px solid #fff;
    padding:10px;
    text-align: center;
    width: 50%;
    margin: auto;
}
.project-title h2{
    font-size: 40px;
    color: #fff;
    font-weight: normal;
}
.project-title hr{
   background:#fff;
   width: 50%;
   height: 3px;
   margin: 10px auto;
}

.project-img{
 	width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 80px;
    padding-bottom: 100px;
}

.contenedor-img-proyecto{
	 width: calc(30% - 10px);
  	margin:10px;
  	overflow: hidden;
    position: relative;
    cursor: pointer;

}

.contenedor-img-proyecto img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
  position: relative;
}

@media only screen and (max-width:773px){
    .contenedor-img-proyecto {width: 80%; margin-bottom: 30px;}
}
@media only screen and (max-width:446px){
    .project-title h2{font-size: 30px;}
}


/************************************************************************************************FIN SECCIÓN PROYECTOS***********************************************************************/

/************************************************************************************************SECCIÓN CONTACTANOS***********************************************************************/

.contenedor-secciones{
	width: calc(100% - 50px);
	/*min-width: 350px;*/
	margin: 10px auto;
}

.info-contacto-1{
	width: 100%;
    background: var(--gris-tipo1);
    line-height: 2;
}

.info-contacto-2{
	padding-top: 25px;
	padding-bottom: 50px;
	width: 80%;
    margin: auto;
    background: var(--gris-tipo1);
}

.info-contacto p{

	margin: 0 0 10px;
}

.contacto{
    font-weight: lighter;
    font-size: 20px;
    font-weight: bold;
    color: var(--naranja);
}

.contenedor-contacto{
	display: flex;
	align-items: center;
	margin-top: 10px;
	background: var(--gris-tipo1);
	border-radius: 5px;
}

.foto-contacto{
	width: 350px;
	height: 350px;
	overflow: hidden;
	/*box-shadow: 0 10px 10px rgba(0,0,0,0.7);*/

}

.foto-contacto img{
	width: 100%;
	height: 100%;
	object-fit: cover;
    object-position: center;
    border: 5px solid var(--gris-tipo1);
}

.contenedor-cuerpo-contacto{
	width: 100%;
	text-align: center;
}

.contenedor-txt-contacto{
	padding: 10px;
}

.contenedor-txt-contacto p{
	padding-bottom: 10px;
	color: var(--azul);
}

.contenedor-txt-contacto h3{
	padding-bottom: 10px;
	color: var(--naranja);
}

/************************************************************************************************FIN SECCIÓN CONTACTANOS***********************************************************************/

/************************************************************************************************SECCIÓN NOTICIAS***********************************************************************/

.contenedor-seccion-noticias{
	display: flex;
	margin: 10px auto;
	background: rgb(241, 89, 42, .8);
	border-radius: 5px;
	padding: 10px;
}

.contenedor-img-contenido-noticia{
	width: 400px;
	height: 400px;
	border: 5px solid var(--blanco);
    overflow: hidden;
    position: relative;
}

.contenedor-img-contenido-noticia img{
	width: 100%;
	height: 100%;
	object-fit: cover;
    object-position: center;
}

.contenedor-cuerpo-contenido-noticia{
	width: calc(100% - 400px);
	background: var(--blanco);
}

.contenedor-titulo-contenido{
	width: 100%;	
	min-height: 50px;
	margin: auto;
	background: var(--azul);
	/*border-bottom: 3px solid var(--blanco);*/
	border-radius: 5px;
	display: flex;
	align-items: center;
	line-height: 2;
}

.contenedor-titulo-contenido h3{
	width: 100%;
    text-transform: uppercase;
    color: var(--blanco);
    padding: 2%;
    text-align: justify;

}

.contenedor-cuerpo-txt-noticia{
	width: 100%;
	height: 400px;
	border: 5px solid var(--blanco);
	overflow: hidden;
	border: 5px solid var(--blanco);
}

/************************************************************************************************FIN SECCIÓN NOTICIAS***********************************************************************/

/************************************************************************************************SECCIÓN NOTICIAS IND***********************************************************************/


.contenedor-noticias-individuales{
	width: 100%;
	border: 5px solid var(--blanco);
	background: var(--gris-tipo1);
	padding: 10px;
	border-radius: 5px;
	text-align: center;
}

.contenedor-img-noticia-ind{
	width: 100%;
	display: flex;
	justify-content: center;
}

.contenedor-img-noticia-ind-img{
	width: 700px;
	height: 700px;
	padding: 5px;
	overflow: hidden;
	background: var(--blanco);
}

.contenedor-img-noticia-ind-img img{
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: center;
	/*border: 5px solid var(--blanco);
	box-shadow: 0 10px 10px rgba(0,0,0,0.7);*/
}

.redaccion-noticia-ind{
	width: 100%;
	min-height: 250px;
	font-size: 18px;
    text-align: justify;
    background: var(--blanco);
    border-radius: 5px;
    padding: 10px;
    line-height: 2;
}

/************************************************************************************************FIN SECCIÓN NOTICIAS IND***********************************************************************/

/************************************************************************************************PAGINA ACADÉMICOS PRINCIPAL********************************************************************************/

/*************************************PROYECTO******************************************/

.contenedor-seccion-proyecto{
	width: 100%;
}

.contenedor-proyectos-1{
	width: 100%;
	display: inline-block;
	margin: 10px 10px 0px 0px;
	background: var(--gris-tipo1);
	border-radius: 5px;
	padding: 5px;
}

.contenedor-seccion-cuerpo-filas-1{
	width: 50%;
	height: 100%;
	display: flex;
	flex-direction: column;
}

.contenedor-seccion-cuerpo-dividido-1{
	width: 100%;
	height: 725px;
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 10px auto;
	background: rgb(241, 89, 42, .8);
	padding: 5px;
	border-radius: 5px;
	line-height: 2;
}

.contenedor-seccion-cuerpo-dividido-1 h3{
	color: var(--azul);
	font-size: 28px;
	font-weight: 400;
}

.contenedor-seccion-cuerpo-dividido-1 p{
	font-size: 18px;
	text-align: justify;
}

.contenedor-seccion-img-grande-1{
	width: 50%;
	height: 100%;
	position: relative;
	overflow: hidden;
	/*box-shadow: 0 10px 10px rgba(0,0,0,0.7);*/

}

.contenedor-desarrolladores-1{
	background: var(--blanco);
	width: 100%;
	height: 50%;
	padding: 10px;
	overflow: auto;
}

.contenedor-descripcion-proyecto-1{
	background: var(--gris-tipo1);
	width: 100%;
	height: 50%;
	padding: 10px;
	overflow: auto;	
}


.contenedor-seccion-img-grande-1 img{
	width: 100%;
	height: 100%; /***Hacer Responsivo***/
	object-fit: cover;
	object-position: center;
	/*border: 5px solid var(--blanco);*/
}

/*************************************ECP******************************************/

.contenedor-seccion-ecp{
	width: 100%;
	margin: 20px auto; 

	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;

	flex-direction: row;
	/*flex-wrap: no-wrap;*/
	justify-content: center;
	align-items: center;
}

.contenedor-seccion-ecp h1{
	color: var(--naranja);
	font-size: 28px;
	font-weight: 400;
	text-align: center;
	padding: 10px;
}

.contenedor-seccion-cuerpo-ecp{
	background: var(--blanco);
}

.contenedor-fecha-ecp{
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
}

.contenedor-fecha-ecp p{
	padding: 10px;
	font-size: 14px;
}
.contenedor-fecha-ecp h1{
	color: var(--naranja);
	font-weight: bold;
}

.contenedor-fecha-ecp h3{
    color: var(--azul);
    padding: 10px;
    font-weight: bold;
}

.cuerpo-ecp{
	background: var(--gris);
	padding-top: 5px;
}

.cuerpo-ecp a{
	color: var(--naranja);
}

.descripcion-ecp{
	height: 250px;
	background: var(--blanco);
	padding: 10px;
	overflow: auto;
	line-height: 2;
}

.descripcion-ecp p{
	color: var(--azul);
	padding: 10px;
	text-align: justify;
}

.contenedor-seccion-eventos{
	background: var(--gris-tipo1);
	width: 50%;
	padding: 5px;
	border-radius: 5px;
}

.contenedor-seccion-convocatorias{
	background: var(--gris-tipo1);
	width: 50%;
	margin: auto 5px;
	padding: 5px;
	border-radius: 5px;
}

.contenedor-seccion-programas{
	background: var(--gris-tipo1);
	width: 100%;
	padding: 5px;
	border-radius: 5px;
}

.contenedor-seccion-programas h1{
	padding: 10px;
	color: var(--naranja);
	font-size: 28px;
	font-weight: 400;
	text-align: center;

}

/************************************************************************************************PAGINA ACADÉMICOS SECCIONES********************************************************************************/

.contenedor-seccion-convocatoria{
	padding: 10px;
	margin-top: 10px;
	border-radius: 5px;
	background: var(--gris-tipo1);
}

.desc-conv{
	background: var(--blanco);
	padding: 10px;
	border-radius: 5px;
	line-height: 2;
}

.c-descripcion{
	min-height: 250px;
	background: var(--blanco);
	padding: 10px;
	overflow: auto;
	border-bottom: 2px solid var(--naranja);
}

.c-descripcion p{
	color: var(--azul);
	padding: 10px;
	text-align: justify;
}

/********PROYECTOS***********/

.contenedor-seccion-img-grande{
	width: 100%;
	height: 50vh; /***Antes 600px***/
	position: relative;
	overflow: hidden;
	/*box-shadow: 0 10px 10px rgba(0,0,0,0.7);*/

}


.contenedor-seccion-img-grande img{
	width: 100%;
	height: 100%; /***Hacer Responsivo***/
	object-fit: cover;
	object-position: center;
	/*border: 5px solid var(--blanco);*/
}

.contenedor-seccion-cuerpo-dividido{
	width: 100%;
	height: 450px; 
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 10px auto;
	background: var(--azul);
	padding: 5px;
	border-radius: 5px;
	line-height: 2;
	/*background: rgb(241, 89, 42, .8);
	border-radius: 5px;
	padding: 1px;
	border: 1px solid rgb(241, 89, 42, .8);*/
}

.contenedor-seccion-cuerpo-dividido h3{
	color: var(--azul);
	font-size: 28px;
	font-weight: 400;
}

.contenedor-seccion-cuerpo-dividido p{
	font-size: 18px;
}

.contenedor-desarrolladores{
	background: var(--blanco);
	width: 50%;
	height: 100%;
	padding: 10px;
	overflow: auto;
	border-radius: 5px; 
	margin-right: 2.5px; 
	text-align: justify;
}

.contenedor-descripcion-proyecto{
	background: var(--gris-tipo1);
	width: 50%;
	height: 100%;
	padding: 10px;
	overflow: auto;
	border-radius: 5px;
	margin-left: 2.5px; 
	text-align: justify;
}


/************************************************************************************************FIN PAGINA ACADÉMICOS********************************************************************************/

/************************************************************************************************PAGINA INFRA********************************************************************************/

.contenedor-seccion-flex{
	width: 100%;
	margin: 20px auto; 

	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;

	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}

.contenedor-cuerpo-seccion-flex{
	width: 50%;
	padding: 5px;
}

.contenedor-cuerpo-flex{
	background: var(--gris-tipo1);
	padding: 5px;
	border-radius: 5px;
}

.contenedor-cuerpo-flex h2{
	color: var(--naranja);
	font-size: 28px;
	font-weight: 400;
	text-align: center;
	
	overflow:hidden;
    white-space:nowrap;
    text-overflow: ellipsis;
}


/*** IMG LAB ***/

.contenedor-seccion-img-lab{
	width: 100%;
	height: 500px;
	margin-top: 10px;
	position: relative;
	overflow: hidden;

	display: flex;
	align-items: center;
	justify-content: center;

	cursor: pointer;

	}

	.contenedor-seccion-img-lab img{
		width: 100%;
		height: 100%; 
		object-fit: cover;
		object-position: center;
		border-radius: 5px;
	}

	.contenedor-txt-efecto{
		width: 100%;
		text-align: center;
		position: absolute;
		transition: all .3s;

		transform: scale(1.5);
		opacity: 0;
		background: rgb(255,255,255,.8);
		padding: 10px;
	}

	/***EFECTO HOVER***/

	.contenedor-seccion-img-lab:before, .contenedor-seccion-img-lab:after{
		content: "";
		position: absolute;
		width: calc(100% - 30px);
		height: 4px;
		background: #FFF;
		transition: all .3s;
	}

	.contenedor-seccion-img-lab:before {
		left: -100%; 
		top: 10px; 
	}
	.contenedor-seccion-img-lab:after {
		left: 100%; 
		bottom: 10px; 
	}

	.contenedor-seccion-img-lab:hover:before, .contenedor-seccion-img-lab:hover:after{
		left: 15px;
	}

	.contenedor-seccion-img-lab:hover .contenedor-txt-efecto{
		transform: scale(1);
		opacity: 1;

	 }


/************************************************************************************************FIN PAGINA INFRA********************************************************************************/

/****************************************SECCIONES PRINCIPALES TITULOS*************************************************/

.contenedor-seccion-titulos-grande{
	width: 100%;
	text-align: center;
}

.contenedor-seccion-titulos-grande h1{
	color: var(--naranja);
	font-size: 36px;
	font-weight: 400;
}

.contenedor-titulo-seccion{
	width: 100%;	
	min-height: 50px;
	margin: auto;
	background: var(--azul);
	/*border-bottom: 3px solid var(--blanco);*/
  margin-bottom: 5px;
	display: flex;
	align-items: center;
	border-radius: 5px;
	line-height: 2;
}

.contenedor-titulo-seccion h3{
	width: 100%;
    text-transform: uppercase;
    color: var(--blanco);
    padding: 2%;
    text-align: justify;

}

/*** TITULOS SECCIONES CENTRADOS***/

.contenedor-titulo-seccion-mas{
	width: 100%;	
	min-height: 50px;
	margin: auto;
	background: var(--naranja);
	/*border-bottom: 3px solid var(--blanco);*/
	border-radius: 5px;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
}

.contenedor-titulo-seccion-mas h3{
	width: 100%;
    text-transform: uppercase;
    color: var(--blanco);
    padding: 2%;
}

/*** TITULOS NOTICIAS INDIVIDUALES***/

.contenedor-titulo-seccion-ind{
	width: 100%;
	min-height: 50px;
	margin: auto;
	border: 5px solid var(--blanco);
	background: var(--azul);
	display: flex;
	align-items: center;
	border-radius: 5px;
	margin-bottom: 10px;
	line-height: 2;
}

.contenedor-titulo-seccion-ind h3{
	width: 100%;
    text-transform: uppercase;
    color: var(--blanco);
    padding: 2%;
    text-align: center;
}


/*** TITULOS ECP -- Eventos - Convocatoria - Programas - Individuales***/

.contenedor-titulo-seccion-ecp{
	width: 100%;
	height: 80px;	
	margin: auto;
	background: var(--azul);
	display: flex;
	align-items: center;
}

.contenedor-titulo-seccion-ecp h3{
	text-transform: uppercase;
    color: var(--blanco);
    padding: 10px;
    text-align: justify;
    overflow:hidden;
    white-space:nowrap;
    text-overflow: ellipsis;
}

/************************************************************************************************SECCIÓN MINI GALERIA***********************************************************************/

.seccion-mini-galeria{
	width: 100%;
	text-align: center;
	background: var(--gris-tipo1);
	padding: 10px;
	border-radius: 5px;
}

.seccion-mini-galeria h3{
	font-size: 28px;
	font-weight: 400;
	color: var(--azul);
  margin-bottom: 10px;
}

.contenedor-img-mini-galeria-img{
	width: 250px;
	height: 250px;
	overflow: hidden;
	position: relative;
	cursor: pointer;
}

.contenedor-img-mini-galeria-img img{
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: center;
	border: 2px solid var(--blanco);
}

.contenedor-img-mini-galeria-button{
	width: 100%;
	height: 20%;
	background: #1B396A;
    opacity: .8;
	position: absolute;
	bottom: 0;
	margin: 10px 0 0 0;
	display: flex;
	align-items: center;
	justify-content: center;
	border-left: 2px solid;
	border-right: 2px solid;
	border-bottom: 2px solid;
	border-color: var(--blanco);
}

.contenedor-img-mini-galeria-button button{
	width: 200px;
}

/************************************************************************************************SECCIÓN GALERIA - ÁLBUM***********************************************************************/


.galeria{
	background: var(--gris-tipo1);
	border-radius: 5px;
}

.linea{
    border-top: 3px solid var(--naranja);
    margin-bottom: 40px;
}

.contenedor-album{
    display:flex;
   /* width: 85%; */
    margin: auto;
    justify-content: space-around;
    flex-wrap: wrap;
}

.album{
    width: 32%;
    position: relative;
    height: 300px;
    margin-bottom: 40px;
}
.album img{
    width: 100%;
    height:100%;
    object-fit: cover;
    object-position: center;
    border-radius: 5px;
}

.efecto-album{
    position: absolute;
    bottom: 0;
    left: 0;
    background:rgba(27, 57, 106, 0.5);
    width: 100%;
    height: 0;
    overflow: hidden;
    transition: .5s ease;
    border-radius: 5px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.efecto-album h2{
    color: #ffff;
    max-height: 200px;
    overflow:hidden;
    font-weight: 300;
    font-size: 26px;
    text-align: center;
}

.album:hover .efecto-album{
    height:100%;
    cursor: pointer;
}

@media screen and (max-width:1000px){
    .contenedor-album{
        width: 95%;
    }
}

@media screen and (max-width:700px){
    .contenedor-album{
        width: 90%;
    }
    .album{
        width: 48%;
    }

    .efecto-album h2{
      font-size: 20px;
  }
}

@media screen and (max-width:450px){

    .contenedor-album{
        width: 98%;
    }
   	.album{
        width: 80%;
    }
}

/************************************************************************************************SECCIÓN GALERIA - IMG***********************************************************************/




/************************************************************************************************SECCIÓN BUSCADOR***************************************************************************/

.contenedor-buscador{
	width: 100%;
	display: flex;
	justify-content: flex-end;
}

.buscador{
	width: 50%;
	float: right;
	display: flex;
    align-items: center;
    justify-content: center;
}

.buscador form{
	width: 100%;
}

/************************************************************************************************SECCIÓN FORMULARIOS***********************************************************************/
#formulario{
	background: var(--gris-tipo1);
	padding: 10px;
	border-radius: 5px;
	margin-top: 10px;

}

.formulario{
	width: 100%;
	/*margin: 2% auto;*/
	margin: auto;
	display: flex;
    justify-content: center;
    flex-direction: column;
}

.formulario input{
    width: 100%;
    height: 40px;
    margin:auto;
    border-radius: 5px;
    outline: none;
    border:1.5px solid var(--naranja);
    text-align: center;
    font-size: 18px;
}

.formulario label{
    font-size: 18px;
    text-align: left;
    color: var(--black);
    margin: 30px 0px 10px 0px;
}

.formulario textarea{
	font-family: 'Roboto', sans-serif;
    width: 100%;
    height: 500px;
    margin:auto;
    padding: 20px;
    border-radius: 5px;
    outline: none;
    border:1.5px solid var(--naranja);
    font-size: 18px;
}



/************************************************************************************************SECCIÓN CALENDARIO***********************************************************************/

.mini-calendario{
	width: 35%;
	padding: 10px;
	padding-top: 20px;
	overflow: hidden;
	background: var(--gris-tipo1);
}

.contenedor-calendario{
	/*min-height: 100vh;*/
	margin-top: 10px;
	display: flex;
	justify-content: center;
	align-items: center;
}

#CalendarioWeb {
	max-width: 100%;
	max-height: 100%;
}

.contenedor-formulario-dividido{
	width: 100%;
	margin: 0px auto;
	display: flex;
	align-items: center;
}

.columna-de-dos{
	width: 50%;
	margin-right: 10px;
}

/***********************************************MODAL INFO CALENDARIO*******************************/

.contenedor-modal-dividido{
	width: 100%;
	display: flex;
}

.contenedor-modal-info{
	margin-left: 10px;
	width: calc(100% - 250px);
	height: 300px;
	overflow: auto;
	border-radius: 5px;
}

.contenedor-modal-info p{
	color: var(--blanco);
	padding: 10px;
	font-size: 1em;
	text-align: justify;
}

.seccion-modal-fech{
	width: 250px;
	height: 300px;
	/*margin: 2% auto;*/
	margin: auto;
	display: flex;
    justify-content: center;
    flex-direction: column;
    position: relative;
}



.seccion-modal-fech h3{
	font-size: 18px;
	font-weight: 400;
}

.seccion-modal-fech p{
	margin: auto 10px;
}

.contenedor-fecha-cal-arriba{
	width: 100%;
	position: absolute;
	top: 0;
	color: var(--blanco);
	text-align: center;
	background: var(--gris-fuerte);
	border-radius: 5px 5px 0px 0px;
	box-shadow: 0 10px 10px rgba(0,0,0,0.7);
}

.contenedor-fecha-cal-abajo{
	width: 100%;
	position: absolute;
	bottom: 0;
	color: var(--blanco);
	text-align: center;
	background: var(--azul);
	border-radius: 0px 0px 5px 5px;
	box-shadow: 0 10px 10px rgba(0,0,0,0.7);
}

.logo-cal{
	width: 100%;
	height: 150px;
	overflow: hidden;
	text-align: center;
}

.logo-cal img{
	height: 100%; /***Hacer Responsivo***/
	object-fit: cover;
	object-position: center;
}



/************************************************************************************************SECCIÓN BOTONES***********************************************************************/

.contenedor-botones{
	width: 100%;
	overflow: hidden;
}

.contenedor-botones-centrado{
	display: flex;
	justify-content: center;
  	align-items: center;
  	overflow: hidden;
}

.centrado{
	float: none;
	margin-right: 0;
}

/*** BOTONES LEER ***/

.btn-leer{
	width: 100%;
	height: 100%;
	background: var(--azul);
	border: none;
	outline-style: none;
	transition: all .7s;
	cursor: pointer;
	text-align: center;
	color: var(--blanco);
	font-size: 18px;
}

.btn-leer:hover{
	background: var(--naranja);
	transition: .7s;
}

/*** BOTONES GENERAL ***/

.btn-ret{
	max-width: 250px;
	padding: 10px;
	margin:10px 0px 10px 0px;
	background: #7ab98e;
	border: none;
	outline-style: none;
	border-radius: 5px;
	transition: all .7s;
	cursor: pointer;
	float: right;
}

.btn-ret span{
	color: var(--blanco);
	font-size: 18px;
	transition: .7s;
	text-align: center;
}

.btn-ret span::after{
	opacity: 0;
	content: "\00bb";
	transition: .7s;
}

.btn-ret:hover span::after{
	opacity: 1;
	margin-left: 5px;
}

.btn {
	max-width: 250px;
	padding: 10px;
	margin:10px 0px 10px 0px;
	background: var(--azul);
	border: none;
	outline-style: none;
	border-radius: 5px;
	transition: all .7s;
	cursor: pointer;
	float: right;
}

.btn span{
	color: var(--blanco);
	font-size: 18px;
	transition: .7s;
	text-align: center;
}

.btn span::after{
	opacity: 0;
	content: "\00bb";
	transition: .7s;
}

.btn:hover span::after{
	opacity: 1;
	margin-left: 5px;
}

/*** BOTONES BUSCADOR ***/

.btn-buscar {
	width: 100%;
	background: var(--blanco);
	border: none;
	border-radius: 6px;
	color: var(--azul);
	cursor: pointer;
	font-size: 16px;
	padding: 10px 10px;
	display: flex;
	justify-content: center;
	text-align: center;
}

.btn-buscar span{
	transition: .7s;
	text-align: center;
}

.btn-buscar span::after{
	opacity: 0;
	content: "\00bb";
	transition: .7s;
}

.btn-buscar:hover span::after{
	opacity: 1;
	margin-left: 5px;
}

/****BOTONES BURBUJA****/

.btn-burbuja-1 {
  display: inline-block;
  font-size: 1em;
  padding: 1em 2em;
  margin: 10px;
  -webkit-appearance: none;
  appearance: none;
  background-color: var(--naranja);
  color: var(--blanco);
  border-radius: 5px;
  border: none;
  cursor: pointer;
  position: relative;
  transition: transform ease-in 0.1s, box-shadow ease-in 0.25s;
  box-shadow: 0 2px 25px rgba(27, 57, 106, 0.5);
}

.btn-burbuja-1:hover{
	background-color: ;
}

.btn-burbuja-1:focus {
  outline: 0;
}
.btn-burbuja-1:before, .btn-burbuja-1:after {
  position: absolute;
  content: '';
  display: block;
  width: 140%;
  height: 100%;
  left: -20%;
  z-index: -1000;
  transition: all ease-in-out 0.5s;
  background-repeat: no-repeat;
}



.btn-burbuja-1:before {
  display: none;
  top: -75%;
  background-image: radial-gradient(circle, #f1592a 20%, transparent 20%), radial-gradient(circle, transparent 20%, #f1592a 20%, transparent 30%), radial-gradient(circle, #f1592a 20%, transparent 20%), radial-gradient(circle, #f1592a 20%, transparent 20%), radial-gradient(circle, transparent 10%, #f1592a 15%, transparent 20%), radial-gradient(circle, #f1592a 20%, transparent 20%), radial-gradient(circle, #f1592a 20%, transparent 20%), radial-gradient(circle, #f1592a 20%, transparent 20%), radial-gradient(circle, #f1592a 20%, transparent 20%);
  background-size: 10% 10%, 20% 20%, 15% 15%, 20% 20%, 18% 18%, 10% 10%, 15% 15%, 10% 10%, 18% 18%;
}
.btn-burbuja-1:after {
  display: none;
  bottom: -75%;
  background-image: radial-gradient(circle, #1B396A 20%, transparent 20%), radial-gradient(circle, #1B396A 20%, transparent 20%), radial-gradient(circle, transparent 10%, #1B396A 15%, transparent 20%), radial-gradient(circle, #1B396A 20%, transparent 20%), radial-gradient(circle, #1B396A 20%, transparent 20%), radial-gradient(circle, #1B396A 20%, transparent 20%), radial-gradient(circle, #1B396A 20%, transparent 20%);
  background-size: 15% 15%, 20% 20%, 18% 18%, 20% 20%, 15% 15%, 10% 10%, 20% 20%;
}
.btn-burbuja-1:active {
  transform: scale(0.9);
  background-color: var(--azul);
  box-shadow: 0 2px 25px rgba(27, 57, 106, 0.2);
}

.btn-burbuja-1.animacion:before {
  display: block;
  animation: A-burbujas ease-in-out 0.75s forwards;
}
.btn-burbuja-1.animacion:after {
  display: block;
  animation: B-burbujas ease-in-out 0.75s forwards;
}

@keyframes A-burbujas {
  0% {
    background-position: 5% 90%, 10% 90%, 10% 90%, 15% 90%, 25% 90%, 25% 90%, 40% 90%, 55% 90%, 70% 90%;
  }
  50% {
    background-position: 0% 80%, 0% 20%, 10% 40%, 20% 0%, 30% 30%, 22% 50%, 50% 50%, 65% 20%, 90% 30%;
  }
  100% {
    background-position: 0% 70%, 0% 10%, 10% 30%, 20% -10%, 30% 20%, 22% 40%, 50% 40%, 65% 10%, 90% 20%;
    background-size: 0% 0%, 0% 0%,  0% 0%,  0% 0%,  0% 0%,  0% 0%;
  }
}
@keyframes B-burbujas {
  0% {
    background-position: 10% -10%, 30% 10%, 55% -10%, 70% -10%, 85% -10%, 70% -10%, 70% 0%;
  }
  50% {
    background-position: 0% 80%, 20% 80%, 45% 60%, 60% 100%, 75% 70%, 95% 60%, 105% 0%;
  }
  100% {
    background-position: 0% 90%, 20% 90%, 45% 70%, 60% 110%, 75% 80%, 95% 70%, 110% 10%;
    background-size: 0% 0%, 0% 0%,  0% 0%,  0% 0%,  0% 0%,  0% 0%;
  }
}

/****BOTONES TABLA****/

.btn-tabla{
	width: 50px;
	padding: 10px;
	margin: 20px;
	background: var(--azul);
	border: none;
	outline-style: none;
	border-radius: 5px;
	transition: all _7s;
	cursor: pointer;
	text-align: center;
	color: var(--blanco);
}

.btn-tabla:hover{
	background: var(--azul-claro);
	transition: .7s;
}

/************************************************************************************************ICONOS***********************************************************************/

.icono-izquierda {
	margin-right: 10px;
}

.icono-derecha {
	margin-left: 10px;
}
.icono-pdf {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 10px auto;
	color: #1B396A;
	font-size: 38px;
}

/************************************************************************************************ELEMENTOS VARIADOS***********************************************************************/

.margin-arriba{
  margin-top: 20px;
}

/***************************ENLACES***********************************/
.contenedor-enlaces{
	width: 100%;
	/*height: 60px; *****Temporal mientras que no se desborde por el - o un espacio****/
	text-align: center;
	margin-top: 20px;
	padding-bottom: 10px;
	overflow: auto;
	white-space:nowrap; /* Evita que el - o espacio haga salto de lineas */
}

.contenedor-enlaces a{
	color: var(--azul);
}

.contenedor-enlaces a:hover{
	color: var(--naranja);
}

/***************************EFECTO HOVER IMG***********************************/

.hover-galeria{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    transform: scale(0);
    background: rgb(27, 57, 106, 0.7); /* rgb(241, 89, 42, 0.7); */
    transition: transform .5s;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 10px;
}

.hover-galeria img{
    width: 50px;
    height: auto;
    border: 0px;
}

.hover-galeria p{
    color: #fff;
}

.contenedor-img-proyecto:hover .hover-galeria{
    transform: scale(1);
}

.contenedor-img-mini-galeria-img:hover .hover-galeria{
    transform: scale(1);
    border-radius: 0px;
}

/***************************EFECTO SKEW***********************************/

/** Skew **/
.skew-abajo{
    position: absolute;
	bottom: 0;
	left: 0;
	border-width: 0 0 10vh 100vw;
	border-style: solid;
	border-color: transparent transparent #fff transparent;
}
.skew-arriba{
    position: absolute;
	top: 0;
	left: 0;
	border-width: 10vh 100vw 0 0;
	border-style: solid;
	border-color: #fff transparent transparent transparent;
	z-index: 10;
}

/***************************DIVISORES**************************************/

.seccion-divisor-seccion{
	border: 1px solid #dee2e6;
	margin: 3rem auto;
}

/***************************COLORES**************************************/

.guardar{
	background: #229954;
}

.cancelar{
	background: #E74C3C;
}

.ver{
	background: #013253;
}

.volver{
	background: #34495E;
}

.finalizar{
	background: #0174DF;
}

.mas{
	background: #f1592a;
}

.t-verde{
	background: #619c72;
}

.t-azul{
	background: #1B396A;
}

/************************************************************************************************PAGINACIÓN**************************************************************************/

#paginas {
    text-align: center;
}

#paginas ul{
    margin: 10px 0;
    padding: 0;
}
#paginas li{
    display: inline-block;
    margin-top: 10px; /*Para que no se pegue los li*/ 
    padding: 10px;
}

#paginas li a{
    background: rgb(27, 57, 106);
    border-radius: 4px;
    color: rgb(250, 250, 250);
    padding: 10px 15px;
    text-decoration: none;
}

.actual{
    background: rgb(20, 69, 124) !important;
    color: rgb(255, 255, 255) !important;
}

/************************************************************************************************SCROLL**************************************************************************/


/*****************************SCROLL PRINCIPAL**********************/

body::-webkit-scrollbar{
    width: 8px;
    height: 8px;
    background-color: #F5F5F5;
}
body::-webkit-scrollbar-track{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #F5F5F5;
}
body::-webkit-scrollbar-thumb{
    background-color: #1B396A; 
    background-image: -webkit-linear-gradient(90deg,rgba(255, 255, 255, .2) 25%,transparent 25%,transparent 50%,rgba(255, 255, 255, .2) 50%,rgba(255, 255, 255, .2) 75%,transparent 75%,transparent);
}

/*****************************SCROLL CONTENIDO**********************/

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}
::-webkit-scrollbar-track {
  background-color: transparent;
}
::-webkit-scrollbar-thumb {
  background-color: var(--gris-fuerte);
  /*background-image:-webkit-linear-gradient(rgba(255,255,255,.3) 20%,transparent 20%,transparent 40%,rgba(255, 255, 255, 0.3) 40%,rgba(255,255,255,.3) 60%,transparent 60%,transparent 80%,rgba(255, 255, 255, 0.3) 80%);*/  

}

@media screen and (max-width: 1100px){
	.contenedor-img-contenido{
		width: 300px;
		height: 400px;
	}
	.contenedor-cuerpo-txt{/* --------->Seccion de Noticias texto inicio*/
		width: calc(100% - 300px); /* ---->Restamos los 250px del ancho de la img*/
		height: 400px;
	}

	.contenedor-txt-N1{
		height: 330px;
    background: var(--blanco);
	}

	/************************************************************************************************PAGINA INFRA********************************************************************************/

	.contenedor-seccion-img-lab{
		height: 400px;
		margin-top: 5px;
	}


/************************************************************************************************FIN PAGINA INFRA********************************************************************************/

}

@media screen and (max-width: 950px){
	.contenedor-dividido{
		flex-direction: column;
	}

	.contenedor-noticia-1{
		width: 100%;
	}
	.mini-calendario{
		width: 100%;
	}

	.img-encabezado{
		height: 300px;
	}

	.encabezado h1{
	    font-size: 40px;
	}

	.encabezado hr{
		width: 300px;
	}

	.contenedor-img-contenido-noticia{
		width: 300px;
	}
	.contenedor-cuerpo-contenido-noticia{
		width: calc(100% - 300px);
	}

/************************************************************************************************PAGINA INFRA********************************************************************************/

	.contenedor-seccion-flex{
		margin: 10px auto; 
	}

	.contenedor-cuerpo-flex h2{
		font-size: 18px;
	}
	
	.contenedor-cuerpo-flex p{
		font-size: 14px;
	}

	.contenedor-titulo-seccion-mas h3{
		font-size: 16px;
	}

/*** IMG LAB ***/

	.contenedor-seccion-img-lab{
		height: 300px;
		margin-top: 5px;
	}


/************************************************************************************************FIN PAGINA INFRA********************************************************************************/

/************************************************************************************************PAGINA ACADÉMICOS PRINCIPAL********************************************************************************/

/*************************************PROYECTO******************************************/

.contenedor-seccion-cuerpo-dividido-1{
	height: 500px;
}

.contenedor-seccion-cuerpo-dividido-1 h3{
	font-size: 24px;
}

.contenedor-seccion-cuerpo-dividido-1 p{
	font-size: 16px;
}

.contenedor-desarrolladores-1{
	padding: 5px;
}

.contenedor-descripcion-proyecto-1{
	padding: 5px;
}


/*************************************ECP******************************************/

.contenedor-seccion-ecp{
	margin: 10px auto; 
}

.contenedor-seccion-ecp h1{
	font-size: 24px;
}

.contenedor-fecha-ecp p{
	padding: 10px;
	font-size: 14px;
}

.contenedor-fecha-ecp h3{
    padding: 5px;
    font-size: 18px;
}

.descripcion-ecp{
	padding: 5px;
}

.descripcion-ecp p{
	padding: 5px;
}

.contenedor-seccion-programas h1{

	font-size: 24px;

}

/************************************************************************************************PAGINA ACADÉMICOS SECCIONES********************************************************************************/

.contenedor-seccion-convocatoria{
	padding: 5px;
	margin-top: 5px;
}

.desc-conv{
	padding: 5px;
}

.c-descripcion{

	padding: 5px;
}

/********PROYECTOS***********/


.contenedor-seccion-cuerpo-dividido h3{
	font-size: 24px;
}

.contenedor-seccion-cuerpo-dividido p{
	font-size: 16px;
}

.contenedor-desarrolladores{
	padding: 5px;
}

.contenedor-descripcion-proyecto{
	padding: 5px;
}


/************************************************************************************************FIN PAGINA ACADÉMICOS********************************************************************************/


}

@media screen and (max-width: 800px){


	.buscador{
		width: 100%;
		float: none;
	}

/************************************************************************************************PAGINA INFRA********************************************************************************/

	.contenedor-seccion-flex{
		flex-direction: column;
	}

	.contenedor-cuerpo-seccion-flex{
		width: 100%;
	}

	.contenedor-seccion-img-lab{
		height: 500px;
		margin-top: 10px;
	}


/************************************************************************************************FIN PAGINA INFRA********************************************************************************/

/************************************************************************************************PAGINA ACADÉMICOS PRINCIPAL********************************************************************************/

/*************************************PROYECTO******************************************/

.contenedor-seccion-cuerpo-filas-1{
	width: 100%;
}

.contenedor-seccion-cuerpo-dividido-1{
	flex-direction: column;
	height: auto;
}

.contenedor-seccion-img-grande-1{
	width: 100%;
	height: 400px;
	padding-bottom: 5px; 
}

/*************************************ECP******************************************/

.contenedor-seccion-ecp{
	flex-direction: column; 
}

.contenedor-seccion-ecp h1{
	font-size: 20px;
}

.contenedor-fecha-ecp p{
	padding: 5px;
}

.contenedor-fecha-ecp h3{
    font-size: 16px;
}

.contenedor-seccion-eventos{
	width: 100%;
	margin-bottom: 10px;
}

.contenedor-seccion-convocatorias{
	width: 100%;
}

.contenedor-seccion-programas h1{

	font-size: 20px;

}

.contenedor-titulo-seccion-ecp{

	height: 60px;	
}

.contenedor-titulo-seccion-ecp h3{
    
    font-size: 18px;
}

/************************************************************************************************PAGINA ACADÉMICOS SECCIONES********************************************************************************/


/********PROYECTOS***********/

.contenedor-seccion-img-grande{
	width: 100%;
	height: 50vh; /***Antes 600px***/
	position: relative;
	overflow: hidden;
	/*box-shadow: 0 10px 10px rgba(0,0,0,0.7);*/
}


.contenedor-seccion-cuerpo-dividido{
	height: auto; 
	flex-direction: column;
}

.contenedor-seccion-cuerpo-dividido h3{
	font-size: 20px;
}

.contenedor-desarrolladores{
	width: 100%;
	border-radius: 0px;
	margin: 0px;
}

.contenedor-descripcion-proyecto{
	width: 100%;
	border-radius: 0px;
	margin: 0px;
}

/************************************************************************************************FIN PAGINA ACADÉMICOS********************************************************************************/

/************************************************************************************************PAGINA MINI GALERIA SECCIONES********************************************************************************/

  .seccion-mini-galeria h3{
    font-size: 20px;
  }
}

@media screen and (max-width: 650px){

    .contenedor-descripcion{
      padding: 25px;
    }

    .contenedor-descripcion-txt h3{
      font-size: 35px;
    }

    .contenedor-descripcion-txt p{
      font-size: 14px;
    }

/************************************************************************************************SECCIONES********************************************************************************/

	.contenedor-secciones{
		width: calc(100% - 10px);
	}

	.encabezado h1{
	    font-size: 30px;
	}

	.encabezado hr{
		width: 200px;
	}

	.contenedor-seccion-noticias{
		margin: 5px 0px 0px 0px;
		padding: 5px;
	}

	.contenedor-img-contenido-noticia{
		width: 200px;
		height: 250px;
	}
	.contenedor-cuerpo-contenido-noticia{
		width: calc(100% - 200px);
	}

	.contenedor-titulo-contenido h3{
		font-size: 16px;
	}

	.contenedor-cuerpo-txt-noticia{
		width: 100%;
		height: 250px;
		border: 2px solid var(--blanco);
		overflow: hidden;
		border: 2px solid var(--blanco);
	}

	.contenedor-txt-N1{
		height: 200px;
	}

	.seccion-continuacion{
		height: 50px;
		background: var(--azul);
	}

	.btn-leer{
		font-size: 14px;
	}

/************************************************************************************************SECCIÓN NOTICIAS INICIO***********************************************************************/


	.contenedor-seccion-dividido-noticia-1{
    padding: 5px; 
		flex-direction: column;
    background: var(--naranja);
	}

	.contenedor-img-contenido{
		width: 100%;
		height: 300px;
	}

	.contenedor-cuerpo-txt{
		width: 100%;
	}

	.contenedor-cuerpo-txt{
		height: auto;
	}

	.contenedor-titulo-seccion h3{
		font-size: 16px;
	}

/************************************************************************************************SECCIÓN NOTICIAS IND***********************************************************************/


	.contenedor-noticias-individuales{
		width: 100%;
		border: 2px solid var(--blanco);
		padding: 5px;
	}

	.contenedor-img-noticia-ind{
		width: 100%;
		display: flex;
		justify-content: center;
	}

	.contenedor-img-noticia-ind-img{
		width: 100%;
		height: 500px;
	}

	.redaccion-noticia-ind{

		font-size: 16px;
		border-radius: 0px;

	}

	.contenedor-titulo-seccion-ind{

		margin-bottom: 5px;
	}

	.contenedor-titulo-seccion-ind h3{
		font-size: 16px;
	}
/************************************************************************************************FIN SECCIÓN NOTICIAS IND***********************************************************************/

/************************************************************************************************PAGINA INFRA********************************************************************************/

	.contenedor-seccion-img-lab{
		height: 300px;
		margin-top: 5px;
	}


/************************************************************************************************FIN PAGINA INFRA********************************************************************************/

/************************************************************************************************SECCIÓN CONTACTANOS***********************************************************************/

.contacto{
    font-size: 18px;
}

.contenedor-contacto{
	display: flex;
	flex-direction: column;
	margin-top: 5px;
}

.foto-contacto{
	width: 100%;
	height: 300px;
	overflow: hidden;
}


/************************************************************************************************FIN SECCIÓN CONTACTANOS***********************************************************************/

/***********************************************MODAL INFO CALENDARIO*******************************/

	.contenedor-modal-dividido{

		flex-direction: column;
	}

	.contenedor-modal-info{
		margin-left: 0px;
		width: 100%;
		margin-top: 10px;
	}

	.contenedor-modal-info p{
		padding: 5px;
	}

	.seccion-modal-fech{
		width: 100%;
	}



	.seccion-modal-fech h3{
		font-size: 16px;
	}

	.seccion-modal-fech p{
		margin: auto 5px;
	}

	.contenedor-fecha-cal-arriba{

		box-shadow: 0 5px 5px rgba(0,0,0,0.7);
	}

	.contenedor-fecha-cal-abajo{

		box-shadow: 0 5px 5px rgba(0,0,0,0.7);
	}

  /****************************************SECCIONES PRINCIPALES TITULOS*************************************************/

  .contenedor-seccion-titulos-grande h1{
    font-size: 30px;
  }

  .contenedor-enlaces{
    font-size: 14px;
  }


}

@media screen and (max-width: 450px){

  .contenedor-descripcion{
    padding: 5px;
  }

  .contenedor-descripcion-txt h3{
      font-size: 28px;
  }

/************************************************************************************************SECCIÓN NOTICIAS***********************************************************************/

	.contenedor-seccion-noticias{
		flex-direction: column;
	}

	.contenedor-img-contenido-noticia{
		width: 100%;
	}

	.contenedor-cuerpo-contenido-noticia{
		width: 100%;
	}

/************************************************************************************************SECCIÓN NOTICIAS IND***********************************************************************/


	.contenedor-img-noticia-ind-img{
		height: 300px;
	}

	.redaccion-noticia-ind{
		font-size: 14px;
	}

	.contenedor-titulo-seccion-ind h3{
		font-size: 14px;
		text-align: justify;
	}

/************************************************************************************************SECCIÓN IMG ENCABEZADO***********************************************************************/
  .contenedor-img-encabezado{
    margin-bottom: 20px;
  }

  .img-encabezado{
    height: 200px;
  }

  .encabezado h1{
      font-size: 20px;
  }

/************************************************************************************************FIN SECCIÓN IMG ENCABEZADO***********************************************************************/


/***************************EFECTO SKEW***********************************/


  /** Skew **/
  .skew-abajo{
    display: none;
  }
  .skew-arriba{
     display: none;
  }

/****************************************SECCIONES PRINCIPALES TITULOS*************************************************/

  .contenedor-seccion-titulos-grande h1{
    font-size: 24px;
  }

}

