:root {
  --azul: #1B396A;
  --verde: #8cc63e;
  --blanco: #ffffff;
  --azul-claro: #1a95d5;
  --gris: #ddd;
  --verde-azulado: #369681;

  font-family: 'Roboto', sans-serif;

}

/************************************************************************************************SECCIÓN ALERTAS********************************************************************************/

.glyphicon-alert:before {
  content: "\e209";
}

.alert {
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px;
}

.alert h4 {
  margin-top: 0;
  color: inherit;
}
.alert .alert-link {
  font-weight: bold;
}
.alert > p,
.alert > ul {
  margin-bottom: 0;
}
.alert > p + p {
  margin-top: 5px;
}
.alert-dismissable,
.alert-dismissible {
  padding-right: 35px;
}
.alert-dismissable .close,
.alert-dismissible .close {
  position: relative;
  top: -2px;
  right: -21px;
  color: inherit;
}
.alert-success {
  color: #3c763d;
  background-color: #dff0d8;
  border-color: #d6e9c6;
}
.alert-success hr {
  border-top-color: #c9e2b3;
}
.alert-success .alert-link {
  color: #2b542c;
}
.alert-info {
  color: #31708f;
  background-color: #d9edf7;
  border-color: #bce8f1;
}
.alert-info hr {
  border-top-color: #a6e1ec;
}
.alert-info .alert-link {
  color: #245269;
}
.alert-warning {
  color: #8a6d3b;
  background-color: #fcf8e3;
  border-color: #faebcc;
}
.alert-warning hr {
  border-top-color: #f7e1b5;
}
.alert-warning .alert-link {
  color: #66512c;
}
.alert-danger {
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
}
.alert-danger hr {
  border-top-color: #e4b9c0;
}
.alert-danger .alert-link {
  color: #843534;
}

/************************************************************************************************SECCIÓN ALERTAS FORMULARIO********************************************************************************/

.invalid-feedback {
  width: 100%;
  color: #a94442;
  background: #f2dede;
  display: block;
  padding: 15px;
  border-radius: 4px;
}

/************************************************************************************************SECCIÓN USUARIO****************************************************************************/

.seccion-avatar{
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 10px;
	border-top: 1px solid var(--verde);
}

.avatar{
	width: 200px;
	height: 200px;
	border-radius: 50%;
	overflow: hidden;
	/*border: 5px solid var(--blanco);
	box-shadow: 0 15px 10px rgba(0,0,0,0.7);*/
}

.avatar img{
	width: 100%;
	height: 100%; /***Hacer Responsivo***/
	object-fit: cover;
	object-position: center;
}

/************************************************************************************************SECCIONES PRINCIPALES********************************************************************************/

.seccion-principal{
	width: 100%;
}

.contenedor-componentes-principales{
	border: 1px solid var(--verde);
	/*box-shadow: 0 10px 10px rgba(0,0,0,0.7);*/
}

/******************************SECCIONES CUERPO PARTIDO EN 1 COLUMNA******************************************/

.contenedor-texto-completo{
	width: 100%;
	min-height: 250px;
    padding: 10px;
}

.contenedor-texto-completo p{
    text-align: justify;
}

.contenedor-texto-completo ul{
	list-style: none;
    text-align: justify;
}

.contenedor-texto-completo ul li{
	margin-bottom: 10px;
}

/******************************SECCIONES PRINCIPALES PARTIDO EN 2 COLUMNAS************************************/

.contenedor-cuerpo-dividido{ /* --------->Seccion de Noticias*/
	width: 100%;
	display: flex;
}

.contenedor-img-dividido{
	width: 250px;
	height: 250px;
	overflow: hidden;

	position: relative; /* Posicion la cual permite que el txt de fecha y hora no se desborde */
}

.contenedor-img-dividido img{
	width: 100%;
	height: 100%; /***Hacer Responsivo***/
	object-fit: cover;
	object-position: center;
}

/******************************SECCIONES FECHA NOTICIA************************************/

.contenedor-fecha-noticia{
	width: 100%;
	padding: 20px;
	text-align: center;
	position: absolute;
	bottom: 0;
	background: var(--azul);
	opacity: .8;
	color: var(--blanco);
}

.contenedor-fecha-noticia-eliminacion-anual{
	padding: 20px;
	text-align: center;
}

/******************************SECCIONES CUERPO PARTIDO EN 2 COLUMNAS************************************/

.contenedor-texto-dividido{
	width: calc(100% - 250px); /****Restamos los 250px del ancho de la img****/
	height: 250px;
	overflow: auto;
	padding: 10px;
	line-height: 1.5;
	text-align: justify;
}

/****************************************SECCIONES PRINCIPALES TITULOS*************************************************/

.titulos-secciones-principales{
	padding: 10px;
	margin-bottom: 20px;
	border-bottom: 3px solid var(--azul);
}

.titulos-secciones-principales h1{
	color: var(--azul);
	font-size: 26px;
	text-align: center;
}


.contenedor-titulo-seccion{
	width: 100%;	
	min-height: 50px;
	margin: auto;
	background: var(--azul);
	border-bottom: 3px solid var(--verde);
	display: flex;
	align-items: center;
}

.contenedor-titulo-seccion h3{
	width: 100%;
	font-size: 18px;
    text-transform: uppercase;
    color: var(--blanco);
    padding: 2%;
    text-align: justify;
}

/************************************************************************************************SECCIONES SELECT*************************************************************************************/

.contenedor-select{
	width: 100%;	
	min-height: 50px;
	position: relative;
	display: inline-block;
	align-items: center;
	overflow: hidden;
}

.contenedor-select-seccion i{
	position: absolute;
	right: 20px;
	top: calc(50% - 12px);
	width: 12px;
	height: 12px;
	display: block;
	border-left:4px solid var(--verde);
	border-bottom:4px solid var(--verde);
	transform: rotate(-45deg); /* Giramos el cuadrado */
	transition: all 0.25s ease;
}

.contenedor-select-seccion:hover i{
	margin-top: 3px;
}

.contenedor-select-seccion select{ /*Quitamos la flecha por defecto*/
	appearance: none;
	-webkit-appearance: none;
	-moz-appearance: none;
}

.contenedor-select-seccion select::-ms-expand { /*Quitamos la flecha por defect*/
    display: none;
}

/***************************************SECCIONES SELECT FORMULARIO ***************************************/

.contenedor-select-seccion select.seleccion{			/* clase de los Items de Seleccion del Área*/
	position: relative;
	width: 100%;
	height: 50px;
	background: var(--azul);
	border: none;
	box-shadow: none;
	outline: none;
	cursor: pointer;
	color: var(--blanco);
	border-bottom: 1px solid var(--verde);
	font-size: 18px;
	cursor: pointer;
	padding: 10px; /****deja un espacio interno el select****/
}

.contenedor-select-seccion option{
	background: var(--blanco);
	color: var(--azul);
}

/************************************************************************************************SECCIÓN PRELIMINAR***********************************************************************/

.contenedor-previsualizar-seccion{
	width: 100%;
	text-align: center;
}

/***********************************SECCIONES PRELIMINARES NOTICIAS**************************************/


.contenedor-seccion-preliminar{
	width: 220px;
	height: 280px;
	overflow: auto;
	display: inline-block;
	vertical-align: top;
	text-align: justify;
	margin: 10px;
	border: 1px solid var(--verde);
	border-radius: 4px;
	padding: 10px;
	/*box-shadow: 0 10px 10px rgba(0,0,0,0.7);*/
}

/************SECCIONES PRELIMINARES IMG NOTICIA**********************/

.contenedor-seccion-preliminar h2{
    text-transform: uppercase;
    font-size: 16px;
    margin: 10px 0px;
}

/***********************************SECCIONES PRELIMINARES IMG**************************************/

.contenedor-seccion-preliminar-img{
	width: 250px;
	height: 200px;
	display: inline-block;
	margin: 10px;
	padding: 10px;
	border: 1px solid var(--verde);
	border-radius: 4px;
}

/***********************************SECCIONES PRELIMINARES IMG SIN TXT*****************************************/

.contenedor-seccion-preliminar-img-ajustable{
	width: 100%;
	height: 100%;
	overflow: hidden;
}


.contenedor-seccion-preliminar-img-ajustable img{
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: center;
}

/***********************************SECCIONES PRELIMINARES IMG CON TXT*****************************************/

.contenedor-seccion-preliminar-img-redimensionales{
	width: 100%;
	height: 150px;
	overflow: hidden;
}

.contenedor-seccion-preliminar-img-redimensionales img{
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: center;
	/*border: 5px solid var(--blanco);*/
}

/************************************************************************************************SECCIÓN LISTA DE IMG GRANDES***********************************************************************/

.contenedor-img-grande{
	width: 100%;
	height: 600px;
	overflow: hidden;
	border: 1px solid var(--verde);
}

.contenedor-img-grande img{
	width: 100%; /***MAX HEIGTH***/
	height: 100%;
	object-fit: cover;
	object-position: center;
}

/************************************************************************************************SECCIÓN MINI GALERIA***********************************************************************/

.seccion-mini-galeria{
	width: 100%;
	text-align: center;
	border-top: 1px solid var(--verde);
	padding-top: 20px; 
}

.contenedor-img-mini-galeria-img{
	width: 250px;
	height: 250px;
	overflow: hidden;
	position: relative;
}

.contenedor-img-mini-galeria-img img{
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: center;
	border: 2px solid var(--blanco);
}

.contenedor-img-mini-galeria-button{
	width: 100%;
	height: 20%;
	background: #1B396A;
    opacity: .8;
	position: absolute;
	bottom: 0;
	margin: 10px 0 0 0;
	display: flex;
	align-items: center;
	justify-content: center;
	border-left: 2px solid;
	border-right: 2px solid;
	border-bottom: 2px solid;
	border-color: var(--blanco);
}

.contenedor-img-mini-galeria-button button{
	width: 200px;
}

/************************************************************************************************SECCIÓN BUSCADOR***************************************************************************/

.contenedor-buscador{
	width: 100%;
	display: flex;
	justify-content: flex-end;
}

.buscador{
	width: 50%;
	float: right;
	display: flex;
    align-items: center;
    justify-content: center;
}

.buscador form{
	width: 100%;
}
/************************************************************************************************SECCIÓN INFRA***********************************************************************/

.descripcion-infra{
	display: block;
    width: 100%;
    height: 350px;
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    background-color: var(--blanco);
    background-clip: padding-box;
    border: 1px solid var(--verde);
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    overflow: auto;
    text-align: justify;
}

/************************************************************************************************SECCIÓN FORMULARIOS***********************************************************************/

.formulario{
	font-family: 'Roboto', sans-serif;
	width: 100%;
	margin: 10px auto;
}

.formulario input{
	font-family: 'Roboto', sans-serif;
	display: block;
	text-align: center;
    width: 100%;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    background-color: var(--blanco);
    background-clip: padding-box;
    border: 1px solid var(--verde);
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.formulario label{
	display: inline-block;
    margin-bottom: .5rem;
    text-align: center;
}

.formulario textarea{
	font-family: 'Roboto', sans-serif;
	display: block;
	text-align: justify;
    width: 100%;
    height: 350px;
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    background-color: var(--blanco);
    background-clip: padding-box;
    border: 1px solid var(--verde);
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;

}

.formulario select{
	font-family: 'Roboto', sans-serif;
	display: block;
	text-align: center;
    width: 100%;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    background-color: var(--blanco);
    background-clip: padding-box;
    border: 1px solid var(--verde);
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    cursor: pointer;
}

.formulario-check{
	font-family: 'Roboto', sans-serif;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.formulario-check input[type="checkbox"] {
	display: none;
}

.formulario-check input[type="checkbox"] + label span {
	display: inline-block;
	width: 15px;
	height: 15px;
	margin: -1px 4px 0 0;
	vertical-align: middle;
	background: url(/img/checkbox-uncheck.png);
	background-size: cover;
	cursor: pointer;
}

.formulario-check input[type="checkbox"]:checked + label span {
	background: url(/img/checkbox-check.png);
	background-size: cover;
}

/***********************************TABLAS*****************************************/

.tabla-informacion-escolar{
	width: 100%;
	border: 1px solid var(--verde);
	overflow-x: auto;
}
.tabla-informacion-escolar ol li{
  	padding: 5px;
  	margin-left: 5px;
}

.tabla-informacion-escolar table{
	background: var(--blanco);
	border-collapse: collapse;
	width: 100%; 
}

.tabla-informacion-escolar th, td{
	padding: 20px;
	max-width: 700px; /***TAMAÑO MÁXIMO DE LAS CELDAS***/
}

.tabla-informacion-escolar td{
	text-align: justify;
}

.tabla-informacion-escolar thead{
	text-transform: uppercase;
	text-align: justify;
	background: var(--azul);
	border-bottom: solid 5px var(--verde);
	color: var(--blanco);
}

.tabla-informacion-escolar tr:nth-child(even){
	background-color: var(--gris); 
}

.tabla-informacion-escolar tr:hover td{
	background-color: var(--verde-azulado);
	color: var(--blanco);
}

/*.tabla-informacion-escolar p{
	text-align: center;
}*/

/***********************************IMG ORGANIGRAMA TABLA*****************************************/

.contenedor-img-organigrama{
	width: 150px;
	height: 150px;
	overflow: hidden;
	box-shadow: 0 10px 10px rgba(0,0,0,0.7);
	background: rgb(27,57,106, .5);
}

.contenedor-img-organigrama img{
	width: 100%;
	height: 100%; /***Hacer Responsivo***/
	object-fit: cover;
	object-position: center;
	border: 2px solid var(--blanco);
}

/************************************************************************************************SECCIÓN CARGAR ARCHIVOS IMG***********************************************************************/

.contenedor-cargar-img{
	width: 100%;
	height: 250px;
	display: flex;
  	justify-content: center;
  	align-items: center;
  	border-top: 1px solid var(--verde);
  	border-bottom: 1px solid var(--verde);
}

/***********************************ELEMENTOS SECCION CARGAR IMG*****************************************/

.contenedor-img-seccion-rectangular{
	width: 275px;
	height: 115px;
	overflow: hidden;
	box-shadow: 0 10px 10px rgba(0,0,0,0.7);
}

.contenedor-img-seccion-rectangular img{
	width: 100%;
	height: 100%; /***Hacer Responsivo***/
	object-fit: cover;
	object-position: center;
	border: 5px solid var(--blanco);
}

.contenedor-img-seccion-cuadrado{
	width: 200px;
	height: 200px;
	overflow: hidden;
	box-shadow: 0 10px 10px rgba(0,0,0,0.7);
}

.contenedor-img-seccion-cuadrado img{
	width: 100%;
	height: 100%; /***Hacer Responsivo***/
	object-fit: cover;
	object-position: center;
	border: 5px solid var(--blanco);
}

.contenedor-txt-seccion{
    margin: 0px 20px;
    padding: 10px;
    display: flex;
    align-items: center;
}

#info-img{
	width: 100%;
	text-align: center;
	padding: 10px;
	border-bottom: 1px solid var(--verde);
	overflow: auto;
	margin-bottom: 10px;
}

/************************************************************************************************SECCIÓN CARGAR ARCHIVOS PDF***********************************************************************/

.contenedor-enlaces{
	width: 100%;
	text-align: center;
	margin-top: 20px;
	margin-bottom: 10px;
}

.contenedor-enlaces a{
	color: var(--azul);
}

.contenedor-enlaces a:hover{
	color: var(--verde);
}

/***********************************SECCION TXT CARGAR ARCHIVO*****************************************/

.contenedor-texto-centrado{
	width: 100%;
	min-height: 200px;
    padding: 10px;
    display: inline-grid;
}

.contenedor-texto-centrado p{
	margin: 10px;
    text-align: center;
}

/************************************************************************************************SECCIÓN ENCABEZADO***********************************************************************/

.encabezado-subsecciones{
	display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 20px;
}

.contenedor-sub{
	width: 25%;
	height: 200px;
  	margin:10px;
  	overflow: hidden;
    position: relative;
    cursor: pointer;
    position: relative;
    border: 1px solid var(--verde);
}

.contenedor-sub img{
	width: 100%;
	height: 100%; /***Hacer Responsivo***/
	object-fit: cover;
	object-position: center;
	/*border: 2px solid var(--blanco);*/
}

.contenedor-sub h3{
	width: 100%;
	text-align: center;
	color: var(--azul);
	position: absolute;
	bottom: 0;
	background: var(--blanco);
	font-weight: 200;
	font-size: 18px;
	border-top: 1px solid var(--verde);
}

/************************************************************************************************SECCIÓN CALENDARIO***********************************************************************/

.contenedor-calendario{
	padding: 10px;
	border: 1px solid var(--verde);
	display: flex;
	justify-content: center;
	align-items: center;
}

#CalendarioWeb {
	max-width: 800px;
}

.contenedor-formulario-dividido{
	width: 100%;
	display: flex;
	align-items: center;
}

.columna-de-dos{
	width: 50%;
	margin: 10px;
}

/************************************************************************************************SECCIÓN BOTONES***********************************************************************/

.contenedor-botones{
	width: 100%;
	overflow: hidden;
}

/****BOTONES GENERAL****/

.btn {
	max-width: 250px;
	padding: 10px;
	margin:10px 0px 10px 10px;
	background: var(--azul);
	border: none;
	outline-style: none;
	border-radius: 5px;
	transition: all .7s;
	cursor: pointer;
	float: right;

}

.btn span{
	color: var(--blanco);
	font-size: 18px;
	transition: .7s;
	text-align: center;
}

.btn span::after{
	opacity: 0;
	content: "\00bb";
	transition: .7s;
}

.btn:hover span::after{
	opacity: 1;
	margin-left: 5px;
}

.contenedor-botones-centrado{
	display: flex;
	justify-content: center;
  	align-items: center;
  	overflow: hidden;
}

.centrado{
	float: none;
	margin-left: 0;
}

.m-derecha{
	margin-right: 10px;
}

/****BOTONES BUSCADOR****/

.btn-buscar {
	width: 100%;
	background: var(--blanco);
	border: none;
	border-radius: 6px;
	color: var(--azul);
	cursor: pointer;
	font-size: 16px;
	padding: 10px 10px;
	display: flex;
	justify-content: center;
	text-align: center;
}

.btn-buscar span{
	transition: .7s;
	text-align: center;
}

.btn-buscar span::after{
	opacity: 0;
	content: "\00bb";
	transition: .7s;
}

.btn-buscar:hover span::after{
	opacity: 1;
	margin-left: 5px;
}

/****BOTONES TABLA****/

.btn-tabla{
	width: 50px;
	padding: 10px;
	margin: 20px;
	background: var(--azul);
	border: none;
	outline-style: none;
	border-radius: 5px;
	transition: all .7s;
	cursor: pointer;
	text-align: center;
	color: var(--blanco);
}

.btn-tabla:hover{
	background: var(--azul-claro);
	transition: .7s;
}

/****BOTONES CARGAR ARCHIVO****/

.contenedor-boton-cargar{
	margin: 0px 20px;
    padding: 10px;
    display: flex;
    align-items: center;
}

.subir{
	width: 200px;
	color: var(--blanco);
	font-size: 20px;
	padding: 10px;
	margin: 20px;
	background: var(--azul);
	border: none;
	outline-style: none;
	border-radius: 5px;
	transition: all .7s;
	cursor: pointer;
	text-align: center;
}
 
.subir:hover{
	background: var(--azul-claro);
	transition: .7s;
}

/************************************************************************************************ICONOS***********************************************************************/

.icono-izquierda {
	/*float: left;*/
	margin-right: 10px;
}

.icono-derecha{
	float: right;
}

.icono-pdf {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 10px auto;
	color: #1B396A;
	font-size: 38px;
}

/************************************************************************************************ELEMENTOS VARIADOS***********************************************************************/

/***************************DIVISORES**************************************/

.divisor-contenido{
	margin: 2% auto;
}	

/***************************COLORES**************************************/

.eliminar{
	background: #E74C3C ;
}

.guardar{
	background: #229954;
}

.cancelar{
	background: #F39C12;
}

.editar{
	background: #0b231e;
}

.agregar{
	background: #229954;
}

.ver{
	background: #34495E;
}

.volver{
	background: #34495E;
}

.finalizar{
	background: #0174DF;
}

/************************************************************************************************PAGINACIÓN**************************************************************************/

#paginas {
    text-align: center;
}

#paginas ul{
    margin: 10px 0;
    padding: 0;
}
#paginas li{
    display: inline-block;
    margin-top: 10px; /*Para que no se pegue los li*/ 
    padding: 10px;
}

#paginas li a{
    background: rgb(27, 57, 106);
    border-radius: 4px;
    color: rgb(250, 250, 250);
    padding: 10px 15px;
    text-decoration: none;
}

.actual{
    background: rgb(20, 69, 124) !important;
    color: rgb(255, 255, 255) !important;
}

/************************************************************************************************SCROLL**************************************************************************/


/*****************************SCROLL PRINCIPAL**********************/

body::-webkit-scrollbar{
    width: 8px;
    height: 8px;
    background-color: #F5F5F5;
}
body::-webkit-scrollbar-track{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #F5F5F5;
}
body::-webkit-scrollbar-thumb{
    background-color: #1B396A; 
    background-image: -webkit-linear-gradient(90deg,rgba(255, 255, 255, .2) 25%,transparent 25%,transparent 50%,rgba(255, 255, 255, .2) 50%,rgba(255, 255, 255, .2) 75%,transparent 75%,transparent);
}

/*****************************SCROLL CONTENIDO**********************/

::-webkit-scrollbar {
  width: 0.5px;
  height: 0.5px;
}
::-webkit-scrollbar-track {
  background-color: var(--verde);
}
::-webkit-scrollbar-thumb {
  background-color: var(--verde);
  background-image:-webkit-linear-gradient(rgba(255,255,255,.3) 20%,transparent 20%,transparent 40%,rgba(255, 255, 255, 0.3) 40%,rgba(255,255,255,.3) 60%,transparent 60%,transparent 80%,rgba(255, 255, 255, 0.3) 80%);  

}

/************************************************************************************************RESPONISBO****************************************************************************/

/***************************************************************************************************************************************************
***************************************************************RESPONSIBO 1150PX********************************************************************/


@media screen and (max-width: 1150px) { 

/************************************************************************************************SECCIÓN ENCABEZADO****************************************************************************/
	
	.contenedor-sub {width: 80%; margin-bottom: 30px;}

	.invalid-feedback {
	  font-size: 15px;
	}

	/************************************************************************************************SECCIÓN USUARIO****************************************************************************/

	.avatar{
		width: 150px;
		height: 150px;
		border-radius: 50%;
	}

	/******************************SECCIONES CUERPO PARTIDO EN 1 COLUMNA******************************************/

	.contenedor-texto-completo{
		min-height: 200px;
	}

	.contenedor-texto-completo p{
		font-size: 15px;

	}

	.contenedor-texto-completo ul{
		font-size: 15px;
	}

	/******************************SECCIONES PRINCIPALES PARTIDO EN 2 COLUMNAS************************************/

	.contenedor-img-dividido{
		width: 200px;
		height: 200px;
	}

	/******************************SECCIONES FECHA NOTICIA************************************/

	.contenedor-fecha-noticia{
		font-size: 15px;
	}

	.contenedor-fecha-noticia-eliminacion-anual{
		font-size: 15px;
	}

	/******************************SECCIONES CUERPO PARTIDO EN 2 COLUMNAS************************************/

	.contenedor-texto-dividido{
		width: calc(100% - 200px); /*Restamos los 200px del ancho de la img*/
		height: 200px;
		font-size: 15px;
	}

/******************************************************************************************SECCIONES PRINCIPALES TITULOS***************************************************************************/

	.titulos-secciones-principales h1{
		font-size: 22px;
	}

	.contenedor-titulo-seccion h3{
		font-size: 16px;
	}

/************************************************************************************************SECCIONES SELECT*************************************************************************************/

	.contenedor-select-seccion select.seleccion{
		font-size: 15px;
	}


/************************************************************************************************SECCIÓN PRELIMINAR********************************************************************************/

	.contenedor-seccion-preliminar h2{

	    font-size: 15px;

	}

/************************************************************************************************SECCIÓN LISTA DE IMG GRANDES***********************************************************************/

	.contenedor-img-grande{
		height: 400px;
	}

/************************************************************************************************SECCIÓN MINI GALERIA***********************************************************************/



/************************************************************************************************SECCIÓN FORMULARIOS***********************************************************************/

	.descripcion-infra{
		font-size: 15px;
	}

	.formulario input{
	  
	    font-size: 15px;
	  
	}

	.formulario label{
		font-size: 15px;
	}

	.formulario textarea{
		font-size: 15px;

	}

	.formulario select{
		font-size: 15px;
	}

	.formulario-check{
		font-size: 15px;
	}

	/***********************************TABLAS*****************************************/

	.tabla-informacion-escolar{
		font-size: 15px;
	}

	.tabla-informacion-escolar th, td{
		padding: 15px;
	}

	.tabla-informacion-escolar p{
		font-size: 15px;
	}

/************************************************************************************************SECCIÓN CARGAR ARCHIVOS IMG***********************************************************************/

	.contenedor-cargar-img{
		height: 200px;
	}

	/***********************************ELEMENTOS SECCION CARGAR IMG*****************************************/

	.contenedor-img-seccion-cuadrado{
		width: 150px;
		height: 150px;
	}

	.contenedor-txt-seccion{
	    font-size: 15px;
	}

	#info-img{
		font-size: 15px;
	}


/************************************************************************************************SECCIÓN CARGAR ARCHIVOS PDF***********************************************************************/

	.contenedor-enlaces{
		font-size: 15px;
	}

	/***********************************SECCION TXT CARGAR ARCHIVO*****************************************/

	.contenedor-texto-centrado p{
		font-size: 15px;
	}

	/************************************************************************************************SECCIÓN CALENDARIO***********************************************************************/

	#CalendarioWeb {
		max-width: 700px;
	}

	/************************************************************************************************SECCIÓN BOTONES***********************************************************************/

	.btn span{
		font-size: 15px;
	}

	/****BOTONES BUSCADOR****/

	.btn-buscar {
		font-size: 15px;
	}

	/****BOTONES CARGAR ARCHIVO****/

	.subir{
		width: 150px;
		font-size: 15px;
	}

/************************************************************************************************ICONOS***********************************************************************/

	.icono-pdf {

		font-size: 36px;

	}

}

/***************************************************************************************************************************************************
***************************************************************RESPONSIBO 1024PX********************************************************************/

@media screen and (min-width: 768px) and (max-width: 1024px) {

	.invalid-feedback {
	  font-size: 14px;
	}


/******************************SECCIONES CUERPO PARTIDO EN 1 COLUMNA******************************************/


	.contenedor-texto-completo p{
		font-size: 14px;

	}

	.contenedor-texto-completo ul{
		font-size: 14px;
	}


/********************************SECCIONES FECHA NOTICIA******************************************************/

	.contenedor-fecha-noticia{
		font-size: 14px;
	}

	.contenedor-fecha-noticia-eliminacion-anual{
		font-size: 15px;
	}	

/******************************SECCIONES CUERPO PARTIDO EN 2 COLUMNAS************************************/

	.contenedor-texto-dividido{
		font-size: 14px;
	}

/******************************************************************************************SECCIONES PRINCIPALES TITULOS***************************************************************************/

	.titulos-secciones-principales h1{
		font-size: 18px;
	}

	.contenedor-titulo-seccion h3{
		font-size: 15px;
	}

/************************************************************************************************SECCIONES SELECT*************************************************************************************/

	.contenedor-select-seccion select.seleccion{
		font-size: 14px;
	}


/************************************************************************************************SECCIÓN PRELIMINAR********************************************************************************/

	.contenedor-seccion-preliminar h2{

	    font-size: 14px;

	}

/************************************************************************************************SECCIÓN LISTA DE IMG GRANDES***********************************************************************/

	.contenedor-img-grande{
		height: 300px;
	}

/************************************************************************************************SECCIÓN MINI GALERIA***********************************************************************/



/************************************************************************************************SECCIÓN FORMULARIOS***********************************************************************/

	.descripcion-infra{
		font-size: 14px;
	}

	.formulario input{
	  
	    font-size: 14px;
	  
	}

	.formulario label{
		font-size: 14px;
	}

	.formulario textarea{
		font-size: 14px;

	}

	.formulario select{
		font-size: 14px;
	}

	.formulario-check{
		font-size: 14px;
	}

	/***********************************TABLAS*****************************************/

	.tabla-informacion-escolar{
		font-size: 14px;
	}

	.tabla-informacion-escolar p{
		font-size: 14px;
	}

/************************************************************************************************SECCIÓN CARGAR ARCHIVOS IMG***********************************************************************/

	/***********************************ELEMENTOS SECCION CARGAR IMG*****************************************/

	.contenedor-img-seccion-cuadrado{
		width: 150px;
		height: 150px;
	}

	.contenedor-img-seccion-rectangular{
		width: 250px;
		height: 95px;
	}

	.contenedor-txt-seccion{
	    font-size: 14px;
	    margin: 0;
	}

	#info-img{
		font-size: 14px;
	}


/************************************************************************************************SECCIÓN CARGAR ARCHIVOS PDF***********************************************************************/

	.contenedor-enlaces{
		font-size: 14px;
	}

	/***********************************SECCION TXT CARGAR ARCHIVO*****************************************/

	.contenedor-texto-centrado p{
		font-size: 14px;
	}

	/************************************************************************************************SECCIÓN CALENDARIO***********************************************************************/

	#CalendarioWeb {
		max-width: 600px;
	}

	/************************************************************************************************SECCIÓN BOTONES***********************************************************************/

	.btn span{
		font-size: 14px;
	}

	/****BOTONES BUSCADOR****/

	.btn-buscar {
		font-size: 14px;
	}

	/****BOTONES CARGAR ARCHIVO****/

	.subir{
		width: 150px;
		font-size: 14px;
		margin: 0;
	}

/************************************************************************************************ICONOS***********************************************************************/

	.icono-pdf {

		font-size: 32px;

	}

}

/***************************************************************************************************************************************************
***************************************************************RESPONSIBO 600PX********************************************************************/


@media screen and (max-width: 650px) {

	.invalid-feedback {
	  font-size: 14px;
	}

	.contenedor-texto-completo p{
		font-size: 14px;

	}

	.contenedor-texto-completo ul{
		font-size: 14px;
	}

	/******************************SECCIONES PRINCIPALES PARTIDO EN 2 COLUMNAS************************************/

	.contenedor-img-dividido{
		width: 150px;
		height: 200px;
	}

	/******************************SECCIONES FECHA NOTICIA************************************/

	.contenedor-fecha-noticia{
		font-size: 14px;
	}

	.contenedor-fecha-noticia-eliminacion-anual{
		font-size: 14px;
	}

	/******************************SECCIONES CUERPO PARTIDO EN 2 COLUMNAS************************************/

	.contenedor-texto-dividido{
		width: calc(100% - 150px); /*Restamos los 200px del ancho de la img*/
		height: 200px;
		font-size: 14px;
	}

/******************************************************************************************SECCIONES PRINCIPALES TITULOS***************************************************************************/

	.titulos-secciones-principales h1{
		font-size: 18px;
	}

	.contenedor-titulo-seccion h3{
		font-size: 15px;
	}

/************************************************************************************************SECCIONES SELECT*************************************************************************************/

	.contenedor-select-seccion select.seleccion{
		font-size: 14px;
	}


/************************************************************************************************SECCIÓN PRELIMINAR********************************************************************************/

	.contenedor-seccion-preliminar h2{

	    font-size: 14px;

	}

/************************************************************************************************SECCIÓN LISTA DE IMG GRANDES***********************************************************************/

	.contenedor-img-grande{
		height: 300px;
	}

/************************************************************************************************SECCIÓN MINI GALERIA***********************************************************************/



/************************************************************************************************SECCIÓN FORMULARIOS***********************************************************************/
	.descripcion-infra{
		font-size: 14px;
	}

	.formulario input{
	  
	    font-size: 14px;
	  
	}

	.formulario label{
		font-size: 14px;
	}

	.formulario textarea{
		font-size: 14px;

	}

	.formulario select{
		font-size: 14px;
	}

	.formulario-check{
		font-size: 14px;
	}

	/***********************************TABLAS*****************************************/

	.tabla-informacion-escolar{
		font-size: 14px;
	}

	.tabla-informacion-escolar p{
		font-size: 14px;
	}

	/***********************************IMG ORGANIGRAMA TABLA*****************************************/

	.contenedor-img-organigrama{
		width: 100px;
		height: 100px;
	}

/************************************************************************************************SECCIÓN CARGAR ARCHIVOS IMG***********************************************************************/

	.contenedor-cargar-img{
		height: auto;
		padding: 20px;
		flex-direction: column;
	}

	/***********************************ELEMENTOS SECCION CARGAR IMG*****************************************/

	.contenedor-img-seccion-rectangular{
		width: 250px;
		height: 95px;
	}

	.contenedor-img-seccion-cuadrado{
		width: 125px;
		height: 125px;
	}

	.contenedor-txt-seccion{
	    font-size: 14px;
	    margin: 0;
	}

	#info-img{
		font-size: 14px;
	}


/************************************************************************************************SECCIÓN CARGAR ARCHIVOS PDF***********************************************************************/

	.contenedor-enlaces{
		font-size: 14px;
	}

	/***********************************SECCION TXT CARGAR ARCHIVO*****************************************/

	.contenedor-texto-centrado p{
		font-size: 14px;
	}

	/************************************************************************************************SECCIÓN CALENDARIO***********************************************************************/


	/************************************************************************************************SECCIÓN BOTONES***********************************************************************/

	.btn span{
		font-size: 14px;
	}

	/****BOTONES BUSCADOR****/

	.btn-buscar {
		font-size: 14px;
	}

	/****BOTONES CARGAR ARCHIVO****/

	.subir{
		width: 150px;
		font-size: 14px;
		margin: 0;
	}

/************************************************************************************************ICONOS***********************************************************************/

	.icono-pdf {

		font-size: 28px;

	}

}

/***************************************************************************************************************************************************
***************************************************************RESPONSIBO 480PX********************************************************************/


@media screen and (max-width: 480px) {

	.invalid-feedback {
	  font-size: 12px;
	}

	
	.contenedor-texto-completo p{
		font-size: 12px;

	}

	.contenedor-texto-completo ul{
		font-size: 12px;
	}

	/******************************SECCIONES FECHA NOTICIA************************************/

	.contenedor-fecha-noticia{
		font-size: 12px;
	}

	.contenedor-fecha-noticia-eliminacion-anual{
		font-size: 12px;
	}

	.contenedor-texto-dividido{
		font-size: 12px;
	}

/******************************************************************************************SECCIONES PRINCIPALES TITULOS***************************************************************************/

	.titulos-secciones-principales h1{
		font-size: 16px;
	}

	.contenedor-titulo-seccion h3{
		font-size: 13px;
	}

/************************************************************************************************SECCIONES SELECT*************************************************************************************/

	.contenedor-select-seccion select.seleccion{
		font-size: 12px;
	}


/************************************************************************************************SECCIÓN PRELIMINAR********************************************************************************/

	.contenedor-seccion-preliminar h2{

	    font-size: 12px;

	}

/************************************************************************************************SECCIÓN LISTA DE IMG GRANDES***********************************************************************/

	.contenedor-img-grande{
		height: 200px;
	}

/************************************************************************************************SECCIÓN MINI GALERIA***********************************************************************/



/************************************************************************************************SECCIÓN FORMULARIOS***********************************************************************/

	.descripcion-infra{
		font-size: 12px;
	}

	.formulario input{
	  
	    font-size: 12px;
	  
	}

	.formulario label{
		font-size: 12px;
	}

	.formulario textarea{
		font-size: 12px;

	}

	.formulario select{
		font-size: 12px;
	}

	.formulario-check{
		font-size: 12px;
	}

	/***********************************TABLAS*****************************************/

	.tabla-informacion-escolar{
		font-size: 12px;
	}

	.tabla-informacion-escolar p{
		font-size: 12px;
	}

	/***********************************IMG ORGANIGRAMA TABLA*****************************************/

	.contenedor-img-organigrama{
		width: 50px;
		height: 50px;
	}

/************************************************************************************************SECCIÓN CARGAR ARCHIVOS IMG***********************************************************************/

	/***********************************ELEMENTOS SECCION CARGAR IMG*****************************************/

	.contenedor-txt-seccion{
	    font-size: 12px;
	}

	#info-img{
		font-size: 12px;
	}


/************************************************************************************************SECCIÓN CARGAR ARCHIVOS PDF***********************************************************************/

	.contenedor-enlaces{
		font-size: 12px;
	}

	/***********************************SECCION TXT CARGAR ARCHIVO*****************************************/

	.contenedor-texto-centrado p{
		font-size: 12px;
	}

	/************************************************************************************************SECCIÓN CALENDARIO***********************************************************************/


	/************************************************************************************************SECCIÓN BOTONES***********************************************************************/

	.btn span{
		font-size: 12px;
	}

	/****BOTONES BUSCADOR****/

	.btn-buscar {
		font-size: 12px;
	}

	/****BOTONES CARGAR ARCHIVO****/

	.subir{
		font-size: 12px;
	}

/************************************************************************************************ICONOS***********************************************************************/

	.icono-pdf {

		font-size: 24px;

	}

}