/**************************************************************************************************
Principal*****************************************************************************************/

* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    min-height: 100%;
    display: flex;
    justify-content: center;
    background: #1B396A;
 /*   background: -webkit-linear-gradient(to right, #49a09d, #1B396A); 
    background: linear-gradient(to right, #49a09d, #1B396A); */

}


body {
    position: relative;
    width: 100%;
   /* min-width: 350px; */
    min-height: 100%;
    background: #fff;
    font-family: 'Roboto', sans-serif;
    /*line-height: 2;*/
    overflow-x: hidden;
}

a {
    text-decoration: none;
    color: #fff;
}

.contenedor-header{
    width: 100%;
}

.contenedor{
    width: 100%;
    margin: 0 auto;
    position: relative;
}

/**************************************************************************************************
Boton srcoll ir arriba****************************************************************************************/

.ir-arriba{
    display:none;
    padding:20px;
    background:#1B396A;
    font-size:20px;
    color:#fff;
    cursor:pointer;
    position: fixed;
    bottom:50px;
    left: 20px;
}

.fixed{
    position:fixed; 
    top:0;
    -webkit-box-shadow: 0px 5px 10px 1px rgba(0,0,0,.8);
    -moz-box-shadow: 0px 5px 10px 1px rgba(0,0,0,.8);
    box-shadow: 0px 5px 10px 1px rgba(0,0,0,.8);

}
/**************************************************************************************************
Encabezado****************************************************************************************/

/**************************************************
LOGOS*********************************************/

.contenedor-logos{
    width: 50%;
    min-width: 300px;
    padding-top: 10px;
}

img#gobierno {
    width: 30%;
}
img#educacion {
    width: 30%;
}
img#tecnm {
    width: 15%;
}
img#qroo {
    width: 8%;
}
img#fcp {
    width: 10%;
}

/**************************************************
TITULO********************************************/

.contenedor-titulo{
    width: 80%;
    /*min-width: 350px;*/
    display: flex;
    align-items: center;
}

.contenedor-img{
    width: 15%;
    float: left;
}

img#isc {
    width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.contenedor-txt{
    width: 85%;
    float: left;
    display: flex;
    align-items: center;
}

.contenedor-txt h1 {
    text-transform: uppercase;
    font-size: 36px;
}

/**************************************************************************************************
BODY**********************************************************************************************/

.contenedor-informacion{
    width: 100%;
    /*padding-bottom: 15px;*/
    /*margin-bottom: 100px;*/
}

/**************************************************
MENU**********************************************/

.contenedor-menu{
    z-index: 1000;
    width: 100%;
}

.contenedor{
    margin: auto;
    /*background-color: red;*/
}
.lista-menu{
    display: flex;
    flex-wrap: wrap;
}
.menu{
    background-color: #1B396A;
    padding:0 15px;
}
.justify-content-between{
    justify-content: space-between;
}
.align-items-center{
    align-items: center;
}
.menu .logo-menu .titulo-menu{
 font-size:22px;
 color:#ffffff;
 text-decoration: none;
 font-family: 'Pacifico';
}

.menu .menu-nav-toggle{
    height:32px;
    width: 40px;
    background-color: transparent;
    border:1px solid #ffffff;
    border-radius:3px;
    display: none;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.menu .menu-nav-toggle:focus{
    outline: none;
}
.menu .menu-nav-toggle span{
    height: 2px;
    width: 16px;
    display: inline-block;
    background-color: #ffffff;
    position: relative;
    transition: all .3s ease;
}
.menu .menu-nav-toggle.close span{
    background-color: transparent;
}
.menu .menu-nav-toggle span::before{
    content: '';
    position: absolute;
    left:0;
    top:0;
    height: 2px;
    width: 100%;
    background-color: #ffffff;
    transform: translateY(-6px);
    transition: all .3s ease;
}
.menu .menu-nav-toggle.close span::before{
    transform: translateY(0) rotate(45deg);
}
.menu .menu-nav-toggle span::after{
    content: '';
    position: absolute;
    left:0;
    top:0;
    height: 2px;
    width: 100%;
    background-color: #ffffff;
    transform: translateY(6px);
    transition: all .3s ease;
}
.menu .menu-nav-toggle.close span::after{
    transform: translateY(0) rotate(-45deg);
}
.menu .menu-nav ul{
    list-style: none;
    margin:0;
    padding:0;
}
.menu .menu-nav ul > li{
    display: inline-block;
    margin:0 15px;
    position: relative;
}
.menu .menu-nav ul > li:last-child{
 margin-right:0;    
}
.menu .menu-nav ul > li > a{
    padding:20px 0;
    display: block;
    color:#ffffff;
    font-size:16px;
    text-decoration: none;
    position: relative;
    transition: color 0.3s ease;
}
.menu .menu-nav ul > li > a::before{
    content:'';
    position: absolute;
    left:0;
    top:0;
    height: 3px;
    width:0%;
    background-color:#79bad6; 
    transition: width 0.3s ease;
}
.menu .menu-nav ul > li > a:hover::before{
    width: 100%;
}
.menu .menu-nav ul > li > a:hover{
    color:#79bad6;
}

.menu .menu-nav ul > li > .sub-menu{
    position: absolute;
    background-color: #ffffff;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    width: 300px;
    top:100%;
    left:0;
    border-top:3px solid #79bad6;
    margin:20px 0 0 0;
    padding:0;
    list-style: none;
    z-index:10;
    opacity:0;
    visibility: hidden;
    transition: all 0.3s ease;
}
.menu .menu-nav ul > li:hover > .sub-menu{
    opacity:1;
    visibility:visible; 
    margin:0;
}
.menu .menu-nav ul > li > .sub-menu > li{
    display: block;
    margin:0;
}
.menu .menu-nav ul > li > .sub-menu > li > a::before{
    content: none;
}
.menu .menu-nav ul > li > .sub-menu > li > a{
    color:#444;
    transition: all 0.3s ease;
    padding:14px 20px;
    text-decoration: none;
    margin:0;
}
.menu .menu-nav ul > li > .sub-menu > li > a:hover{
    background-color: #79bad6;
    color:#ffffff;
}

/**************************************************************************************CONTENEDOR INFORMACION*************************************/


/**************************************************
SLIDER*******************************************


.contenedor-slider{
    width: 100%;
    overflow: hidden;
}*/

/**************************************************
CONTENIDO*****************************************/

/*.contenedor-contenido{
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
}*/

/**************************************************
CALENDARIO****************************************/



/**************************************************************************************************
Pie***********************************************************************************************/

footer{
    width: 100%;
    background: #17202A;
    color: white;
    border-top: 3px solid #f1592a;   
    
}

.contenedor-footer{
    width: 100%;
    max-width: 1200px;
    margin: auto;
    padding: 40px;
}

.contenedor-cuerpo-footer{
    display: flex;
    justify-content: space-between;
}

.columna1{
    max-width: 400px;
    text-align: justify;
}

.columna1 h1{
    font-size: 22px;
}

.columna1 p{
    font-size: 14px;
    color: #C7C7C7;
    margin-top: 20px;
}

.footer-logo-contenedor{
    width: 100%;
    display: flex;
}

.footer-logo{
    margin-top: 10px;
    width: 250px;
    height: 250px;
    overflow: hidden;
}

.footer-logo img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.columna2{
    max-width: 400px;
    
}

.columna2 h1{
    font-size: 22px;
}

.redes-sociales{
    margin-top: 20px;
    display: flex;
}

.redes-sociales img{
    width: 36px;
    height: 36px;
}

.redes-sociales label{
    margin-top: 10px;
    margin-left: 20px;
    color: #C7C7C7;
}

.columna3{
    max-width: 400px;
}

.columna3 h1{
    font-size: 22px;
}

.contactos-footer{
    margin-top: 20px;
    display: flex;
}

.contactos-footer .icono{
    font-size: 36px;
}

.contactos-footer label{
    margin-top: 10px;
    margin-left: 20px;
    max-width: 140px;
    overflow-x: auto;
}

.contenedor-footer-barra{
    width: 100%;  
    background: #212F3D;
}

.footer{
    max-width: 1200px;
    margin: auto;
    display: flex;
    justify-content: space-between;  
    padding: 20px;
}

.copyright{
    color: #C7C7C7;
}

.copyright a{
    text-decoration: none;
    color: white;
    font-weight: bold;
}

.informacion-footer a{
    text-decoration: none;
    color: #C7C7C7;
}


@media screen and (max-width: 1180px){

 /************************************************************************************************SECCIÓN MENU***********************************************************************/

 .logo-menu{
    width: 100%;
    text-align: center;
    padding-top: 15px;
 }

 .menu-nav{
    width: 100%;
    text-align: center;
 }

 .sub-menu{
    text-align: justify;
 }


/************************************************************************************************SECCIÓN FOOTER***********************************************************************/
    
    .contenedor-cuerpo-footer{
        flex-wrap: wrap;
    }
    
    .columna1{
        max-width: 100%;
        text-align: center;
    }

    .footer-logo-contenedor{
        justify-content: center;
    }
    
    .columna2,
    .columna3{
        margin-top: 40px;
    }
}

@media(max-width: 950px){


    .logo-menu{
        width: auto;
        padding-top: 0px;
    }

    .menu-nav{
        width: auto;
        text-align: justify;
    }

    .lista-menu{
        padding: 10px;
    }

    .menu .menu-nav-toggle{
        display: flex;
    }
  .menu .menu-nav{
    max-height: 0;
    flex-basis: 100%;
    max-width: 100%;
    overflow: hidden;
    transition: all 0.5s ease;
  }

  .menu .menu-nav ul{
    background-color: #222222;
    margin:15px auto;
  }
  .menu .menu-nav ul > li{
    display: block;
    margin:0;
  }
  .menu .menu-nav ul > li > a::before{
     content: none;
  }
  .menu .menu-nav ul > li > a {
    padding: 12px 15px;
    border-bottom:1px solid rgba(255,255,255,0.2);
 }
 .menu .menu-nav ul > li > .sub-menu{
    max-height: 0;
    overflow: hidden;
    position: relative;
    width: 100%;
    box-shadow: none;
    margin:0;
    visibility: visible;
    opacity: 1;
    background-color: transparent;
    border: none;
 }
 .menu .menu-nav ul > li > .sub-menu > li > a{
    color: #ffffff;
    padding:14px 20px 12px 40px;
 }
}

@media(max-width: 450px){

/************************************************************************************************SECCIÓN MENU***********************************************************************/

    .menu .logo-menu .titulo-menu{
     font-size:18px;
    }

  .menu .menu-nav ul > li > a {
    font-size: 14px;
  }

}