/*Titulo
.titulo-infra{
        text-transform: uppercase;
        border: 8px double rgba(255,255,255,.25);
        border-width: 8px 0;
        font: 700 4em/1 "Oswald", sans-serif;
        letter-spacing: 0;
        padding: .25em 0 .325em;
        display: block;
        margin: 0 auto;
        text-shadow: 0 0 80px rgba(255,255,255,.5);
  
  /* Imagen de fondo 
  
        background: url(../img/titulo_relleno.png) repeat-y;
        -webkit-background-clip: text;
        background-clip: text;
  
  /* Imagen de fondo animado 
  
        -webkit-text-fill-color: transparent;
        animation: aitf-infra 80s linear infinite;
  
  /* Activar aceleracion de hardware para animaciones mas suaves 
  
        transform: translate3d(0,0,0);
        backface-visibility: hidden;
   
  } 
  
  /* Imagen de fondo animado 
  
    @keyframes aitf-infra {
      0% { background-position: 0% 50%; }
      100% { background-position: 100% 50%; }
}*/

/*formularios*/
.formulario-infra{
    background: #e7e7e7; 
    color: #000; 
    font-size: 18px; 
    font-weight: 400; 
    margin: 0 0 25px; 
    overflow: hidden; 
    padding: 20px;
    position: relative;
    /*alineacion de contenido*/
    display: flex;
    justify-content: center;
    align-items: center;
    /*borde de caja*/ 
    border-radius: 0px 0px 5px 5px; 
    -moz-border-radius: 0px 0px 5px 5px; 
    -webkit-border-radius: 0px 0px 5px 5px;
    /*sombra de caja
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75); 
    */
    line-height: 2; 
}
/*Texto de subtitulos*/
.subtitulo-infra{
    font-size: 28px;
    background: #1B396A; 
    padding: 10px 10px;
    position: relative;
    /*alineacion de contenido*/
    display: flex;
    justify-content: center;
    align-items: center;
    text-rendering: optimizeLegibility;
    /*borde de caja*/ 
    border-radius: 5px 5px 0px 0px; 
    -moz-border-radius: 5px 5px 0px 0px; 
    -webkit-border-radius: 5px 5px 0px 0px;
}

.formulario-infra-hijo{
    text-align: justify;
}

.elegantshadow-infra {
    color: #FFF;
   /* letter-spacing: .15em;
    text-shadow: 2px 2px 2px #767676;*/
}
/*galeria infra*/

@media screen and (max-width: 800px){
    .formulario-infra{
        font-size: 16px;
    }
    .subtitulo-infra{
        font-size: 20px;
    }
}

