/**************************************************************************************************
Principal*****************************************************************************************/
* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    min-height: 100%;
    display: flex;
    justify-content: center;
    background: #1B396A;
 /*   background: -webkit-linear-gradient(to right, #49a09d, #1B396A); 
    background: linear-gradient(to right, #49a09d, #1B396A); */

}


body {
    position: relative;
    margin: 0;
    width: 1920px;
    min-width: 320px;
    min-height: 100%;
    background: #fff;
    font-family: 'Roboto', sans-serif;
    line-height: 18px;
}

a {
    text-decoration: none;
    color: #fff;
}

.contenedor{
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
}

/**************************************************************************************************
Boton srcoll ir arriba****************************************************************************************/

.ir-arriba{
    display:none;
    padding:20px;
    background:#1B396A;
    font-size:20px;
    color:#fff;
    cursor:pointer;
    position: fixed;
    bottom:50px;
    left: 20px;
}

/**************************************************************************************************
Boton Cerrar Sesión****************************************************************************************/

.acceso-admin{
    display: flex;
    justify-content: flex-end;
    padding: 5px;
}

.divisor{
    background: #1B396A;
    padding: 2%;
    margin: 10px auto;
}

/**************************************************************************************************
Encabezado****************************************************************************************/

/**************************************************
LOGOS*********************************************/

.contenedor-logos{
    width: 50%;
    min-width: 300px;
    padding-top: 10px;
}

img#gobierno {
    width: 30%;
}
img#educacion {
    width: 30%;
}
img#tecnm {
    width: 15%;
}
img#qroo {
    width: 8%;
}
img#fcp {
    width: 10%;
}

/**************************************************
TITULO********************************************/

.contenedor-titulo{
    width: 80%;
    min-width: 350px;
    display: flex;
    align-items: center;
}

.contenedor-img{
    width: 15%;
    float: left;
}

img#isc {
    width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.contenedor-txt{
    width: 85%;
    float: left;
    display: flex;
    align-items: center;
}

.contenedor-txt h1 {
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    font-size: 36px;
}

/**************************************************************************************************
BODY**********************************************************************************************/

.contenedor-cuerpo{
    width: calc(100% - 40px);
    overflow: hidden;
    margin: 0 auto;
}

.contenedor-informacion{
    width: calc(100% - 40px);
    padding-bottom: 15PX;
    margin:0px auto 50px auto;
    overflow: hidden;
}

/**************************************************
MENU**********************************************/
.btn-menu {
    min-width: 320px;
    display:none;
    padding: 20px;
    background: #1B396A;
    color: #fff;
}
.btn-menu .icono {
    float: right;
}
.navegacion{
    width: calc(100% - 80px);
    margin: 10px auto;
    background: #1B396A;
}

.navegacion ul{
    list-style: none;
    z-index: 3;
}

.menu > li{
    position: relative;
    display: inline-block;
}

.menu > li > a{
    display: block;
    padding: 15px 20px;
    color: #fff;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
}

.menu li a:hover{
    color: #CE7D35;
    transition: all .3s;
}

.navegacion .menu .icono {
    font-size: 12px;
    line-height: 18px;
}
.navegacion .menu .icono.izquierda {
    float: left;
    margin-right: 10px; 
}
.navegacion .menu .icono.derecha {
    float: right;
    margin-left: 10px; 
}


}
/*submenu hover*/
.contenedor-menu .menu li:hover > ul {
    display: block;
    background: #1a95d5; 
    color: #fff;

}

/* Submenu*/

.submenu{
    position: absolute;
    background: #333333;
    width: 120%;
    visibility: hidden;
    opacity: 0;
    transition: opacity 1.5s;
}

.submenu li a{
    display: block;
    padding: 15px;
    color: #fff;
    font-family: 'Open sans';
    text-decoration: none;
}

.menu li:hover .submenu{
    visibility: visible;
    opacity: 1;
}


/**************************************************************************************CONTENEDOR INFORMACION*************************************/


/**************************************************
SLIDER********************************************/


.contenedor-slider{
    width: calc(100% - 40px);
    margin: 0px auto 50px auto;
    border: 2px solid #1B396A;
    height: 450px;

}

/**************************************************
CONTENIDO*****************************************/

.contenedor-contenido{
    width: calc(100% - 40px);
    margin-left: 20px;
    border-radius: 10px 10px 10px 10px;
    -moz-border-radius: 10px 10px 10px 10px;
    -webkit-border-radius: 10px 10px 10px 10px;
    border: 2px solid #1B396A;
    padding: 10px;
    height: 500px;
}

/**************************************************
CALENDARIO****************************************/



/**************************************************************************************************
Pie***********************************************************************************************/

footer{
    padding-top: 10px;
    width:100%;
    height:50px;
    background-color: #1B396A;
    text-align: center;
    position: absolute;
    bottom: 0;


}

footer p{
    color: #fff;
    font-family: 'Roboto', sans-serif;
    line-height: 18px;
}

