/**************************************************************************************************
Principal*****************************************************************************************/
* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    min-height: 100%;
    display: flex;
    justify-content: center;
    background: #1B396A;
 /*   background: -webkit-linear-gradient(to right, #49a09d, #1B396A); 
    background: linear-gradient(to right, #49a09d, #1B396A); */

}


body {
    position: relative;
    width: 1920px;
    min-width: 350px;
    min-height: 100%;
    background: #fff;
    font-family: 'Roboto', sans-serif;
    line-height: 18px;
}

a {
    text-decoration: none;
    color: #fff;
}

.contenedor{
    display: flex;
    position: relative;
}

/**************************************************************************************************
Boton srcoll ir arriba****************************************************************************************/

.ir-arriba{
    display:none;
    padding:15px;
    background:#1B396A;
    font-size:15px;
    color:#fff;
    cursor:pointer;
    position: fixed;
    bottom:50px;
    right: 0px;
    border-radius: 4px;
}

/**************************************************************************************************
USUARIO****************************************************************************************/

.contenedor-usuario{
    text-align: center;
}

.contenedor-usuario h3{
  color: #ffffff;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 30px;
}

.contenedor-usuario img{
    height: 100px;
    width: 100px;
    border-radius: 50%;
    margin: 20px auto;
}

.contenedor-usuario ul li{
    text-align: justify;
}


/**************************************************************************************************
Divisor****************************************************************************************/

.divisor{
    background: #1B396A;
    padding: 2%;
    /*margin: 10px auto;*/
    position: relative;
    min-height: 60px;

    display: flex;
    align-items: center;
}

/*****************************************************BOTON CERRAR SESIÓN**************************************************/

.btn-user{
    font-family: 'Roboto', sans-serif;
    cursor: pointer;
    color: #ffffff;
    display: block;
    padding: 15px 20px;
    background: #5DADE2;
    text-align: justify;
    width: 100%;
    border: none;
    font-size: 16px;
}

.btn-user:hover{
    background: #1a95d5;
}

/**************************************************************************************************
Encabezado****************************************************************************************/

/**************************************************
LOGOS*********************************************/

.contenedor-logos{
    width: 50%;
    min-width: 300px;
    padding-top: 10px;
}

img#gobierno {
    width: 30%;
}
img#educacion {
    width: 30%;
}
img#tecnm {
    width: 15%;
}
img#qroo {
    width: 8%;
}
img#fcp {
    width: 10%;
}

/**************************************************
TITULO********************************************/

.contenedor-titulo{
    width: 100%;
    min-width: 350px;
    display: flex;
    align-items: center;
}

.contenedor-img{
    width: 15%;
    float: left;
}

img#isc {
    width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.contenedor-txt{
    width: 85%;
    float: left;
    display: flex;
    align-items: center;
}

.contenedor-txt h1 {
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    font-size: 30px;
}

/**************************************************************************************************
BODY**********************************************************************************************/

.contenedor-informacion{
    width: 100%;
    padding-bottom: 15px;
    margin-left: 350px;
    margin-bottom: 50px;
}

/**************************************************
MENU**********************************************/

.btn-menu {
    min-width: 350px;
    display:none;
    padding: 20px;
    background: #1B396A;
    color: #fff;
}
.btn-menu .icono {
    float: right;
}
.contenedor-menu {
  width: 350px;  
  height: 100%;
  background: #1B396A;
  padding: 30px 0px;
  position: fixed;
  overflow: auto; /*Agrega un scroll si hay mas elementos dentro el MENU*/
}
.contenedor-menu .menu {
    width: 100%;
}
.contenedor-menu ul {
    list-style: none;
}

.contenedor-menu ul li{
    border-bottom: 1px solid #ffffff;
    border-bottom: 1px solid rgba(0,0,0,0.05);
    border-top: 1px solid rgba(255,255,255,0.05);
}

.contenedor-menu .menu li a {
    color: #ffffff;
    display: block;
    padding: 15px 20px;
    background: #1B396A;
}
.contenedor-menu .menu li a:hover {
    background: #1a95d5;
}
.contenedor-menu .menu .icono {
    font-size: 12px;
    line-height: 18px;
}
.contenedor-menu .menu .icono.izquierda {
    float: left;
    margin-right: 10px; 
}
.contenedor-menu .menu .icono.derecha {
    float: right;
    margin-left: 10px; 
}
.contenedor-menu .menu ul {
    display: none;
}
.contenedor-menu .menu ul li a {
    background: #5DADE2;
    color: #ffffff;
}
.contenedor-menu .menu .activado > a {
    background: #1a95d5; 
    color: #ffffff;
}

/**************************************************************************************CONTENEDOR INFORMACION*************************************/

/**************************************************
HEADER********************************************/

.contenedor-header{
    margin-bottom: 20px;
    border-bottom: 1px solid #e0e4e8;
}

/**************************************************
SLIDER********************************************/


.contenedor-slider{
    width: calc(100% - 40px);
    margin: 0px auto 50px auto;

}

/**************************************************
CONTENIDO*****************************************/

.contenedor-contenido{
    width: 100%;
    padding: 10px;
}


/**************************************************************************************************
Pie***********************************************************************************************/

.contenedor-footer{
    padding-top: 10px;
    width:100%;
    height:50px;
    background-color: #1B396A;
    text-align: center;
    position: absolute;
    bottom: 0;
}

.contenedor-footer p{
    color: #fff;
    font-family: 'Roboto', sans-serif;
    line-height: 18px;
}

/***************************************************************************************************************************************************
***************************************************************RESPONSIBO 1366PX********************************************************************/

@media screen and (max-width: 1366px) {

/*************************************************************************
Usuario - 1366px*****************************************/


    .contenedor-usuario{
        text-align: center;
    }

    .contenedor-usuario h3{
      font-size: 12px;
      margin-bottom: 10px;
    }

    .contenedor-usuario img{
        width: 60px;
        height: 60px;
    }

/*************************************************************************
Encabezado - 1366px*******************************************************/

    .contenedor-txt h1 {
    
        font-size: 24px;
    
    }

/*************************************************************************
Contenedor - Información - 1366px*************************************************************/

    .contenedor-informacion{
        margin-left: 300px;
    }

/*************************************************************************
Menu - 1366px*************************************************************/

    .contenedor-menu {
        width: 300px;
        font-size: 14px;
        }

/*******************Boton Cerrar Sesión en el Menu******************************/

    .btn-user{
        font-size: 14px;
    }
}

/***************************************************************************************************************************************************
***************************************************************RESPONSIBO 1150PX********************************************************************/


@media screen and (max-width: 1150px) {

/*************************************************************************
Usuario - 1150px*****************************************/


    .contenedor-usuario{
        text-align: center;
    }

    .contenedor-usuario h3{
      font-size: 12px;
      margin-bottom: 10px;
    }

    .contenedor-usuario img{
        width: 60px;
        height: 60px;
    }


/*************************************************************************
Encabezado - 1150px*******************************************************/

    .contenedor-txt h1 {
        
        font-size: 20px;
    
    }

/*************************************************************************
Contenedor - Información - 1150px*************************************************************/

    .contenedor-informacion{
        margin-left: 250px;
    }

/*************************************************************************
Menu - 1150px*************************************************************/

    .contenedor-menu {
        width: 250px;
        font-size: 12px;
        }

/*******************Boton Cerrar Sesión en el Menu******************************/

    .btn-user{
        font-size: 12px;
    }

}



/***************************************************************************************************************************************************
***************************************************************RESPONSIBO 1024PX********************************************************************/

@media screen and (min-width: 768px) and (max-width: 1024px) {

/*************************************************************************
Usuario - 768px and 1024px*****************************************/


    .contenedor-usuario{
        text-align: center;
    }

    .contenedor-usuario h3{
      font-size: 12px;
      margin-bottom: 10px;
    }

    .contenedor-usuario img{
        width: 50px;
        height: 50px;
    }

/*************************************************************************
Encabezado - 768px and 1024px*******************************************************/

    .contenedor-txt h1 {
        font-size: 16px;
    }

/*************************************************************************
Contenedor - Información - 768px and 1024px*************************************************************/

    .contenedor-informacion{
        margin-left: 250px;
    }

/*************************************************************************
Menu - 768px and 1024px*************************************************************/

    .contenedor-menu {
        width: 250px;
        font-size: 12px;
        }

/*******************Boton Cerrar Sesión en el Menu******************************/

    .btn-user{
        font-size: 12px;
    }

/*************************************************************************
Pie - 768px and 1024px**************************************************************/

    .contenedor-footer p{
        font-size: 12px;
    }

}

/***************************************************************************************************************************************************
***************************************************************RESPONSIBO 767PX********************************************************************/

@media screen and (max-width: 767px) {

/*************************************************************************
Usuario - 767px*******************************************************/

    .contenedor-usuario{
        text-align: center;
    }

    .contenedor-usuario h3{
      font-size: 12px;
      margin-bottom: 10px;
    }

    .contenedor-usuario img{
        width: 50px;
        height: 50px;
    }

/*************************************************************************
Encabezado - 767px*******************************************************/

    .contenedor-txt h1 {

        font-size: 15px;

        }

/*************************************************************************
Contenedor - Información - 768px and 1024px*************************************************************/

    .contenedor-informacion{
        margin-left: 200px;
    }

/*************************************************************************
Menu - 767px*************************************************************/

    .contenedor-menu {
        width: 200px;
        font-size: 10px;
        }

/*******************Boton Cerrar Sesión en el Menu******************************/

    .btn-user{
        font-size: 10px;
    }

/*************************************************************************
Pie - 767px**************************************************************/

    .contenedor-footer p{
        font-size: 12px;
    }

}

/***************************************************************************************************************************************************
***************************************************************RESPONSIBO 600PX********************************************************************/

@media screen and (max-width: 600px) {

/*************************************************************************
BODY - 600px*****************************************/


    body{
        padding-top: 80px;
    }

/*************************************************************************
Usuario - 600px*****************************************/

    .contenedor-usuario{
        text-align: center;
        display: none;
    }

    .contenedor-usuario h3{
      font-size: 12px;
    }

    .contenedor-usuario img{
        width: 80px;
        height: 80px;
    }

/*************************************************************************
Encabezado - 600px*******************************************************/

    .contenedor-txt h1 {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    }

/*************************************************************************
Contenedor - Información - 600px*************************************************************/

    .contenedor-informacion{
        margin-left: auto;
    }

/*************************************************************************
Menu - 600px*************************************************************/

    .contenedor-menu {
        width: 100%;
        min-width: 350px;
        height: auto;
        position: fixed;
        top: 0;
        z-index: 1000;
        margin-top: 0px;
        padding: 0px;
    }
    
    .btn-menu {
        display: block;
    }

    .contenedor-menu .menu {
        display: none;
    }

    .contenedor-menu ul {
        list-style: none;
        min-width: 350px;
    }


/*************************************************************************
Pie - 600px**************************************************************/

    .contenedor-footer p{
        font-family: 'Roboto', sans-serif;
        font-size: 12px;
    }

}

/***************************************************************************************************************************************************
***************************************************************RESPONSIBO 480PX********************************************************************/

@media screen and (max-width: 480px) {

/*************************************************************************
BODY - 320px and 480px*****************************************/


    body{
        padding-top: 80px;
    }

/*************************************************************************
Usuario - 320px and 480px*****************************************/

    .contenedor-usuario{
        text-align: center;
        display: none;
    }

    .contenedor-usuario h3{
      font-size: 12px;
    }

    .contenedor-usuario img{
        width: 50px;
        height: 50px;
    }

/*************************************************************************
Encabezado - 320px and 480px*******************************************************/

    .contenedor-txt h1 {
    font-family: 'Roboto', sans-serif;
    font-size: 10px;
    }

/*************************************************************************
Contenedor - Información - 768px and 1024px*************************************************************/

    .contenedor-informacion{
        margin-left: auto;
    }

/*************************************************************************
Menu - 320px and 480px*************************************************************/

    .contenedor-menu {
        width: 100%;
        min-width: 350px;
        height: auto;
        position: fixed;
        top: 0;
        z-index: 1000;
        margin-top: 0px;
        padding: 0px;
    }
    
    .btn-menu {
        display: block;
    }

    .contenedor-menu .menu {
        display: none;
    }

    .contenedor-menu ul {
        list-style: none;
        min-width: 350px;
    }


/*************************************************************************
Pie - 320px and 480px**************************************************************/

    .contenedor-footer p{
        font-family: 'Roboto', sans-serif;
        font-size: 10px;
    }


}
