@font-face {
  font-family: 'FontAwesome';
  src: url('../fonts/fontawesome-webfont.eot?v=4.7.0');
  src: url('../fonts/fontawesome-webfont.eot?#iefix&v=4.7.0') format('embedded-opentype'), url('../fonts/fontawesome-webfont.woff2?v=4.7.0') format('woff2'), url('../fonts/fontawesome-webfont.woff?v=4.7.0') format('woff'), url('../fonts/fontawesome-webfont.ttf?v=4.7.0') format('truetype'), url('../fonts/fontawesome-webfont.svg?v=4.7.0#fontawesomeregular') format('svg');
  font-weight: normal;
  font-style: normal;
}


/* SLIDER ==============================*/

.flexslider{
	width: 100% ;
	height: 600px;
	/*width: 70%;*/
	margin: auto;
	border: 5px solid #ffffff;
	/*box-shadow: 0px 0px 25px 0px rgba(0,0,0,0.70);*/
	display: flex;
	flex-direction: column;
	position: relative;
	box-shadow: 0 10px 10px rgba(0,0,0,0.7);

}

.slides,
.slides li,
.slides li img{
	background: #1B396A;
	width: 100%;
	height: 100%;
	/*Centrar Elementos del Slider y delimitandolo*/
	display: flex;
	align-items: center;

	object-fit: cover;
	object-position: center;
}

/* PAGINACION =======================*/

.flex-control-nav.flex-control-paging{
	width: 120px;
	padding: 20px 0px;
	background: #1B396A;
	border: 2px solid rgba(255,255,255,255);
	border-radius: 10px;
	box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.80);
	display: flex;
	justify-content: center;
	align-items: center;
	align-self: center;
	list-style: none;
	position: absolute;
	bottom: -29px;
	z-index: 3;
	box-shadow: 0 10px 10px rgba(0,0,0,0.7);
}

.flex-control-nav li{
	display: inline-block;
	margin: 0 5px;
}

.flex-control-nav li a{
	display: block;
	width: 15px;
	height: 15px;
	background: #8cc63e;
	border-radius: 50%;
	text-indent: -9999px;
	box-shadow: inset 0px -3px 2px 0px rgba(0,0,0,0.55);
	box-shadow: 0 10px 10px rgba(0,0,0,0.7);
}

.flex-control-nav li a.flex-active{
	background: #fff;
}

/* NAVEGACION ===============*/
.flex-direction-nav{
	z-index: 3;
	list-style: none;
}

.flex-direction-nav a{
	width: 60px;
	height: 60px;
	background: #1B396A;
	/*background-color: transparent;*/
	border: 2px solid rgba(255,255,255,255);
	border-radius: 5px;
	box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.80);

	display: flex;
	justify-content: center;
	align-items: center;

	text-decoration: none;
	opacity: 0;

	position: absolute;
	top: 50%;
	margin-top: -30px;

	transition: all 0.3s ease-in-out;
}

.flex-direction-nav a::before{
	content: "\f104";
    font: normal normal normal 14px/1 FontAwesome;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    font-size: 50px;
    color: #8cc63e;
}

.flex-direction-nav a.flex-next::before{
	content: "\f105";
}

.flex-direction-nav .flex-prev{
	left: 0px;
}

.flex-direction-nav .flex-next{
	right: 0px;
}

.flexslider:hover .flex-direction-nav .flex-prev{
	opacity: 1;
	left: 15px;
}

.flexslider:hover .flex-direction-nav .flex-next{
	opacity: 1;
	right: 15px;
}

/* CAPTION ==================*/
.caption{
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: flex-start;
	align-items: flex-end;
	text-align: left;
	position: absolute;
	top: 0;
	z-index: 2;
}

.caption h2{
	width: 100%;
	line-height: 20px;
	text-transform: uppercase;
	font-size: 18px;
	margin-left: 20px;
	color: #fff;
	padding: 1%; /*Tamaño de padding del fondo del texto*/
	background: rgba(27,57,106,0.8);
	text-shadow: 3px 3px 2px rgba(000, 000, 000, 0.70);
	margin-bottom: 35px;
}

/* RESPONSIVE ========== */

@media screen and (max-width: 1024px){

	.caption h2{
		font-size: 14px;
	}
	
	.flexslider{
		height: 400px;
	}

	.flex-control-nav.flex-control-paging{
		width: 100px; 
		padding: 10px 0px;
		border-radius: 5px;
		bottom: -17.5px;
	}

	.flex-direction-nav a{
		width: 50px;
		height: 50px;
		margin-top: -15px;

	}

	.flex-direction-nav a::before{
		font-size: 25px;
	}

	.flex-control-nav li a{
		display: block;
		width: 10px;
		height: 10px;
	}

}

@media screen and (max-width: 600px){
	.caption h2{
		font-size: 14px;
	}

	.flexslider{
		height: 400px;
	}

	.slides li{
		overflow: hidden;
	}


	.flex-direction-nav a{
		width: 40px;
		height: 100%;
		margin: 0px;
		border-radius: 4px;
		background-color: transparent;
		border: transparent;/* eliminar para visualizar flechas ========== */
		box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.0);/* eliminar para visualizar flechas ========== */
		top: 0;
	}

	.flex-direction-nav a::before{
		color: transparent; /* eliminar para visualizar flechas ========== */
	}
}

@media screen and (max-width: 480px){

	.caption h2{
		font-size: 12px;
	}

	.flexslider{
		height: 300px;
	}
	
}