:root {
  --azul: #1B396A;
  --verde: #8cc63e;
  --blanco: #ffffff;
  --azul-claro: #1a95d5;
  --gris: #ddd;
  --verde-azulado: #369681;

  font-family: 'Roboto', sans-serif;

}

/**************************************************************************************************
Principal*****************************************************************************************/
* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    min-height: 100%;
    display: flex;
    justify-content: center;
    background: var(--azul);
}


body {
    position: relative;
    width: 1920px;
    min-width: 350px;
    min-height: 100%;
    font-family: 'Roboto', sans-serif;
    line-height: 18px;
}

a {
    text-decoration: none;
    color: var(--blanco);
}

#app{
	width: 100%;
    margin: 0 auto;
}

#seccion-login{
	width: 60%;
	min-width: 350px;
}

#usuario{
	width: 60%;
	padding: 5px;
	float: left;
	text-transform: uppercase;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	color: var(--blanco);
}

#usuario p{
	width: 80%;
}

.img-usuario{
	width: 50px;
	height: 50px;
	border-radius: 50%;
	overflow: hidden;
	margin: 0 10px;
}

.img-usuario img{
	width: 100%;
	height: 100%; /***Hacer Responsivo***/
	object-fit: cover;
	object-position: center;
}

.contenedor-loggin{
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	background: var(--blanco);
}

.titulo-seccion-loggin{
	background: var(--azul);
	color: var(--blanco);
	text-align: center;
	font-size: 24px;
	padding: 20px;
	text-transform: uppercase;
	border-bottom: 3px solid var(--verde);
}

.cuerpo-seccion-loggin{
	padding: 10px;
	border: 1px solid var(--verde);
}

.contenedor-seccion-botones-inicio-sesion{
	display: flex;
	justify-content: center;
	align-items: center;
	border: 1px solid var(--verde);
}

/***************************************************************************************************************************************************
***************************************************************RESPONSIBO 1024PX********************************************************************/

@media screen and (max-width: 1024px) {
	#seccion-login{
		width: 90%;
	}

	#usuario{
		font-size:14px; 
	}

	.titulo-seccion-loggin{
		font-size: 18px;
	}

	.cuerpo-seccion-loggin{
		font-size: 14px;
	}
}

/***************************************************************************************************************************************************
***************************************************************RESPONSIBO 600PX********************************************************************/

@media screen and (max-width: 480px) {
	#seccion-login{
		width: 100%;
	}

	#usuario{
		font-size:12px; 
	}

	.titulo-seccion-loggin{
		font-size: 16px;
	}

	.cuerpo-seccion-loggin{
		font-size: 12px;
	}
}