/**************************************************************************************************
Principal*****************************************************************************************/
* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    min-height: 100%;
    display: flex;
    justify-content: center;
    background: #1B396A;
 /*   background: -webkit-linear-gradient(to right, #49a09d, #1B396A); 
    background: linear-gradient(to right, #49a09d, #1B396A); */

}


body {
    position: relative;
    margin: 0;
    width: 1920px;
    min-width: 320px;
    min-height: 100%;
    background: #fff;
    font-family: 'Roboto', sans-serif;
    line-height: 18px;
}

a {
    text-decoration: none;
    color: #fff;
}


#app{
	width: 100%;
    margin: 0 auto;
}

#seccion-login{
	font-family: 'Roboto', sans-serif;
	min-width: 30%;
}

#usuario{
	width: 50%;
	padding: 10px;
	text-align: center;
	float: left;
	border-bottom: 2px solid #ffffff;
	text-transform: uppercase;
	display: flex;
	justify-content: center;
	align-items: center;
}

#usuario img{
	width: 5%;
	margin: 0px 10px;
	border-radius: 10px;
}

.foto-usuario{
	min-width: 150px;
	max-width: 150px;
	height: 150px;
	border-radius: 50%;
}


.contenedor-loggin{
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	background: #1B396A;
}

.titulo-seccion-loggin{
	background: #8cc63e;
	color: #fff;
	text-align: center;
	font-size: 26px;
	padding: 10px;
	text-transform: uppercase;
}

.cuerpo-seccion-loggin{
	background: #fff;
	padding: 10px;
}

.contenedor-seccion-botones-inicio-sesion{
	background: #8cc63e;
	display: flex;
	justify-content: center;
	align-items: center;
}

/*.contenedor-seccion-botones-inicio-sesion button{
	width: 250px;
}*/