/*********Cuerpo*******/
body{
	font-family: roboto, georgia, times, serif;
	color: #333;
	font-size: 1.2rem;
	line-height: 1.6rem;
	margin: 0;
}

h1{
	font-size: 2rem;
	line-height: 1.3rem;
}

.container{
	width: 85%;
	max-width: 850px;
	margin: 0 auto;
}

.header{
	background: rgba(27,57,106, 1);
	color: white;
	padding: 1.6rem 0;
	position: fixed;
	z-index: 3;
	left: 0;
	top: 0rem;
	right: 0;
}

.header a{
	color: white;
	text-decoration: none;
}

.logo-nav-container{
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
}

.logo-nav-container a{
	padding: 0;
	margin: 0;
}

.logo{
	letter-spacing: 5px;
	padding: 0;
	margin: 0;
}


.main{
	padding-top: 1rem;

}

.logo {
    height: 100%;
    background: #fff;
    margin-left: 80px;
}

.acceso-admin{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 5px;
    color: #fff;
}

.acceso-admin a{
	display: block;
	padding: 0.5rem 1rem;
	transition: all 0.4s linear;
	border-radius: 5px;
}

.acceso-admin a:hover{
	background: #4a4a4a;
}

header#logos {
    background-image: url("https://www.xtrafondos.com/wallpapers/geometria-3d-3586.jpg");
    width: 100%;
    height: 450px;
    background-size: cover;
    background-position: center;
    overflow: hidden;

}

header#logos nav {
    height: 70px;
    background: #111111;
    display: flex;
    justify-content: space-between
}

header#logos .textos {
    text-align: center;
    color: #fff;
    margin-top: 150px;
}

header#logos .textos h1 {
	font-size: 95px;
	letter-spacing: 3px;
	font-weight: 600;
	margin-bottom: 10px;
	line-height: 1.3rem;
}



/**************************************************LOGOS*********************************************/

.contenedor-logos{
    width: 50%;
    min-width: 300px;
    padding-top: 10px;
    margin-top: 7rem;
}

img#gobierno {
    width: 30%;
}
img#educacion {
    width: 30%;
}
img#tecnm {
    width: 15%;
}
img#qroo {
    width: 8%;
}
img#fcp {
    width: 10%;
}

img#isc {
    width: 7%;
}

.logo img {
    object-fit: cover;
    height: inherit;
}

/**************************************************FOOTER*********************************************/
footer{
    padding-top: 6rem;
    background-color: #1B396A;
    text-align: center;
    padding: 1rem 0;


}

footer p{
    color: #fff;
    font-family: 'Roboto', sans-serif;
    line-height: 18px;
}


/***********Informacion***********/


.informacion .formulario{
    position: relative;
    vertical-align: middle;
    margin: 1rem auto 1rem auto;
    width: calc(100% - 40px);
    border-radius: 10px 10px 10px 10px;
    -moz-border-radius: 10px 10px 10px 10px;
    -webkit-border-radius: 10px 10px 10px 10px;
    border: 2px solid #1B396A;
    padding: 10px;
    height: 450px;
}

.informacion .formulario h2 {
    display: inline-block;
    margin-bottom: .5rem;
    text-align: left;
}

.formulario label {
    font-family: 'Roboto', sans-serif;
    display: inline-block;
    text-align: center;
    width: 100%;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    background-color: var(--blanco);
    background-clip: padding-box;
    border: 1px solid var(--verde);
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    text-align: left;
    margin: 1rem auto;
}


/***********BTN NEON************/
:root{
  --pink: #EF3C82;
  --white: white;
  --black: black;
  --red: #E74C3C;
  --blue: #1B396A;
  --purple: #9B59B6;
  --yellow: #FEB506;
  --green: #62CB31;
}

.btn-item{

}

.btn-ghost{
  position: relative;
  display: inline-block;
  border: 2px solid var(--white);
  padding: 20px 80px;
  color: var(--black);
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
  background: var(--white);
  transition: color 0.5s, background 0.5s;
  margin-left: 30px;
  margin-bottom: 15px;
  font-size: 1em;
  min-width: 140px;
  text-align: center;
}

.btn-ghost.round{
  border-radius: 30px;
}
.btn-ghost.blue{
  background-color: var(--blue);
  border-color: var(--blue);
  color: var(--white);
}

.btn-ghost.secundary.blue{
  background-color: transparent;
  color: var(--blue);
}

.btn-ghost.blue:hover{
  background-color: transparent;
  color: var(--blue);
}

.btn-ghost.secundary.blue:hover{
  background-color: var(--blue);
  color: var(--white);
}

.btn-ghost.blue:active{
  box-shadow: inset 0 0 20px var(--blue);
}

.btn-ghost.secundary.blue:active{
  box-shadow: inset 0 0 20px var(--white);
}




/*submenu hover*/


/* Submenu*/

.submenu{
    position: absolute;
    background: #333333;
    width: 120%;
    visibility: hidden;
    opacity: 0;
    transition: opacity 1.5s;
}

.submenu li a{
    display: block;
    padding: 15px;
    color: #fff;
    font-family: 'Open sans';
    text-decoration: none;
}


.navigation .icono.izquierda {
    float: left;
    margin-right: 10px; 
}
.navigation .icono.derecha {
    float: right;
    margin-left: 10px; 
}

/************Menu**********/

.cont-menu{
	width: 100%;
	margin: 0 auto 0 auto;
	align-content: center;
	max-width: 1280px;
}

/*.menu li:hover .submenu{
    visibility: visible;
    opacity: 1;
}

.menu > li{
    position: relative;
    display: inline-block;
}

.menu > li > a{
    display: block;
    padding: 15px 20px;
    color: #fff;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
}

.menu li a:hover{
    color: #CE7D35;
    transition: all .3s;
}
*/



/******Menu 2.0*******/

.navgation{
	width: 100%;
}

.navigation ul{
	margin: 0;
	padding: 0;
	list-style: none;
}

.navigation ul li{
	display: inline-block;
}

.navigation ul li ul li{
	display: block;
}

.navigation ul li a{
	display: block;
	padding: 0.5rem 1rem;
	transition: all 0.4s linear;
	border-radius: 5px;
}

.navigation ul li a:hover{
	background: #4a4a4a;
}

.navigation .menu .icono.izquierda {
    float: left;
    margin-right: 10px; 
}

.navigation .menu .icono.derecha {
    float: right;
    margin-left: 10px; 
}


.navigation ul li ul{
    display: block;
    flex-direction: column;
    position: absolute;
    background: #58b813;
    margin-top: 15px;
    z-index: 3;
    transform: rotateY(240deg) scale(0);
    transition: all 1s;
    box-shadow: 1px 1px 10px 0px black;
    opacity: 0.9;
}

.navigation ul li:hover > ul{
    transform: rotateY(0deg) scale(1);
    transition: all 1s;

}

.navigation ul li ul:before{
    content: '';
    width: 0;
    height: 0;
    border-right: 10px solid transparent;
    border-left: 10px solid transparent;
    border-bottom: 8px solid #58b813;
    position: absolute;
    margin-top: -8px;
    margin-left: 20px;
}

.navigation ul li ul li ul li{
    position: absolute;
}
.navigation ul li ul li:hover > ul{
    transform: rotateY(0deg) scale(1);
}

.navigation ul li ul li ul{
    right: -90px;
    top: 36px;
    background: #b87113;
}

.navigation ul li ul li ul:before{
    position: absolute;
    border-bottom: 8px solid #b87113;
    margin-top: 18px;
    margin-left: -14px;
    transform: rotate(-90deg);
}

.menu-icon{
	display: none;
}



@media only screen and (max-width: 1145px) {

    .main{
        padding-top: 1rem;
    }

    .contenedor-logos{
        width: 100%;
        min-width: 300px;
        padding-top: 10px;
        margin-top: 12rem;
    }

    .menu-icon span:hover{
        background: #4a4a4a;
    }

    .menu-icon{
    	display: block;
    	cursor: pointer;
        margin: 1rem;

    }

    .navigation ul{
    	display: none;
    }

    .navigation ul.show{
    	display: block;
    }

    .acceso-admin{
        display: flex;
        justify-content: flex-end;
        align-items: center;
        padding: 5px;
        color: #fff;
        margin-top: 1rem;
    }

    .navigation {
    	width: 100%;
    	margin-top: 0.6rem;
    }

    .navigation ul li{
    	display: block;
    }

    .navigation ul li ul li{
    	display: block;
    }

    .navigation ul li a{
    	display: block;
    	padding: 0.5rem 1rem;
    	transition: all 0.4s linear;
    	border-radius: 5px;
    }

}

/**********Foto Inicio************/

.conteniendo{
	width: 100%;
	height: 450px;
	position: relative;
	z-index: 1;
	background-size: 200%;
	animation: movimiento 10s infinite linear alternate;
}

.capa-gradient{
	width: 100%;
	height: 100%;
	position: absolute;
	background: -webkit-linear-gradient(left, black, #0672d0);
	opacity: 0.5;
}

.container-details{
	width: 100%;
	max-width: 1200px;
	position: relative;
	margin: auto;
}

.details{
	width: 100%;
	max-width: 1200px;
	position: absolute;
	top: 100px;
	left: 30px;
	color: white;
}

.details h1{
	font-size: 80px;
	font-weight: 100;
	line-height: 5rem;
	font-family: 'Roboto', sans-serif;
}


@keyframes movimiento{
	from{
		background-position: left;
	}to{
		background-position: right;
	}
}

/****************Slider*************/

.slider {
  margin: 0 auto;
  max-width: 940px;
}

.slide_viewer {
  height: 340px;
  overflow: hidden;
  position: relative;
}

.slide_group {
  height: 100%;
  position: relative;
  width: 100%;
}

.slide {
  display: none;
  height: 100%;
  position: absolute;
  width: 100%;
}

.slide:first-child {
  display: block;
}

.slide:nth-of-type(1) {
  background: black;
}

.slide:nth-of-type(2) {
  background: #F4E4CD;
}

.slide:nth-of-type(3) {
  background: #C75534;
}

.slide:nth-of-type(4) {
  background: #D1D1D4;
}

.slide_buttons {
  left: 0;
  position: absolute;
  right: 0;
  text-align: center;
}

a.slide_btn {
  color: #474544;
  font-size: 42px;
  margin: 0 0.175em;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.slide_btn.active, .slide_btn:hover {
  color: #428CC6;
  cursor: pointer;
}

.directional_nav {
  height: 340px;
  margin: 0 auto;
  max-width: 940px;
  position: relative;
  top: -340px;
}

.previous_btn {
  bottom: 0;
  left: 100px;
  margin: auto;
  position: absolute;
  top: 0;
}

.next_btn {
  bottom: 0;
  margin: auto;
  position: absolute;
  right: 100px;
  top: 0;
}

.previous_btn, .next_btn {
  cursor: pointer;
  height: 65px;
  opacity: 0.5;
  -webkit-transition: opacity 0.4s ease-in-out;
  -moz-transition: opacity 0.4s ease-in-out;
  -ms-transition: opacity 0.4s ease-in-out;
  -o-transition: opacity 0.4s ease-in-out;
  transition: opacity 0.4s ease-in-out;
  width: 65px;
}

.previous_btn:hover, .next_btn:hover {
  opacity: 1;
}

@media only screen and (max-width: 767px) {
  .previous_btn {
    left: 50px;
  }
  .next_btn {
    right: 50px;
  }
}